In [ ]:
import pandas as pd
import os
from config import *
import cohort_process

In [ ]:
cols_integer = ['rfid', 'cohort', 'age at lga', 'age at sha', 'age at dissection', 'litter number', 'litter size', 'shipping box', 'age at surgery', 'days of experiment']

In [ ]:
c4 = cohort_process.CohortProcess(config.COCAINE_COHORT_04)
# c4.df_final.columns = c4.df_final.columns.str.lower()
print(c4.df_final.columns)

In [ ]:
for col in cols_integer:
    print(f'Col is {col} and val is {c4.df_final[col]}')

In [ ]:
print(c4.df_final[cols_integer])

In [ ]:
cocaine_master_template_path = '/Users/haltand/George Lab Dropbox/George_Lab/Team GWAS/1. Cocaine GWAS/Cocaine Homogenized Information Sheet/Cocaine C07 Cohort Updated Information.xlsx'
oxycodone_master_template_path = '/Users/haltand/George Lab Dropbox/George_Lab/Team GWAS/2. Oxycodone GWAS/Oxy Rat information/Oxycodone Info Sheets - Homogenized/Oxycodone C15 Cohort Information - Homogenized.xlsx'

In [ ]:
oxy_df_sheets = pd.read_excel(oxycodone_master_template_path, sheet_name = None)
oxy_df_sheets

In [ ]:
timeline_df = oxy_df_sheets['Timeline']
exit_df = oxy_df_sheets['Exit Tab']
exit_df = exit_df.drop(['RAT', 'Cohort'], axis=1)

In [ ]:
exit_df

In [ ]:
timeline_df

In [ ]:
merge_df = pd.merge(timeline_df, exit_df, how='left', on='RFID')
merge_df

In [ ]:
test = 'date day test'
if any(c in test for c in ['date', 'day']):
    print('true')

In [ ]:
cocaine_df = pd.read_excel(cocaine_master_template_path)
oxycodone_df = pd.read_excel(oxycodone_master_template_path)

In [ ]:
cocaine_df.columns = cocaine_df.columns.str.lower()
cocaine_df

# Fixing data format in the cocaine files

In [47]:
cocaine_files_to_fix = [file for file in COCAINE_COHORT_ALL for valid in ['08', '09', '10', '11', '13', '15', '16', '18'] if valid in file]
print(cocaine_files_to_fix)
df = pd.read_excel(cocaine_files_to_fix[0])
df.columns = (df.columns.str.replace(u'\xa0', u'')).str.strip()
df.columns = df.columns.str.lower()
cols_to_fix = [col for col in df.columns if any(match in col.lower() or col.lower() == 'd.o.b' for match in ['date'])]
print(cols_to_fix)

['/Users/haltand/George Lab Dropbox/George_Lab/Team GWAS/1. Cocaine GWAS/Cocaine Homogenized Information Sheet/Cocaine C08 Updated Cohort Information.xlsx', '/Users/haltand/George Lab Dropbox/George_Lab/Team GWAS/1. Cocaine GWAS/Cocaine Homogenized Information Sheet/Cocaine C09 Updated Cohort Information.xlsx', '/Users/haltand/George Lab Dropbox/George_Lab/Team GWAS/1. Cocaine GWAS/Cocaine Homogenized Information Sheet/Cocaine C10 Updated Cohort Information.xlsx', '/Users/haltand/George Lab Dropbox/George_Lab/Team GWAS/1. Cocaine GWAS/Cocaine Homogenized Information Sheet/Cocaine C11 Updated Cohort Information.xlsx', '/Users/haltand/George Lab Dropbox/George_Lab/Team GWAS/1. Cocaine GWAS/Cocaine Homogenized Information Sheet/Cocaine C13 Updated Cohort Information.xlsx', '/Users/haltand/George Lab Dropbox/George_Lab/Team GWAS/1. Cocaine GWAS/Cocaine Homogenized Information Sheet/Cocaine C15 Updated Cohort Information.xlsx', '/Users/haltand/George Lab Dropbox/George_Lab/Team GWAS/1. Cocaine GWAS/Cocaine Homogenized Information Sheet/Cocaine C16 Updated Cohort Information.xlsx', '/Users/haltand/George Lab Dropbox/George_Lab/Team GWAS/1. Cocaine GWAS/Cocaine Homogenized Information Sheet/Cocaine C18 Updated Cohort Information.xlsx']
['d.o.b', 'date of wean', 'date of ship', 'arrival date', 'surgery date', 'date of eye bleed', 'short access start date', 'short access end date', 'long access start date', 'long access end date', 'lga15 date', 'lga16 date', 'lga17 date', 'lga18 date', 'lga19 date', 'lga20 date', 'brevital date', 'progressive ratio 1 date', 'progressive ratio 2 date', 'progressive ratio 3 date', 'pre-shock date', 'shock (0.1ma) date', 'shock (0.2ma) date', 'shock (0.3ma) date', 'urine 1 date', 'urine 2 date', 'weight 1 date', 'weight 2 date', 'weight 3 date', 'weight 4 date', 'weight 5 date', 'weight 6 date', 'weight 7 date', 'weight 8 date', 'weight 9 date', 'weight 10 date', 'feces 1 date', 'feces 2 date', 'feces 3 date', 'feces 4 date', 'female swab 1 date', 'female swab 2 date', 'female swab 3 date', 'irritability 1 date', 'irritability 2 date', 'recatheter surgery date', 'dissection date', 'date of death']

In [48]:
df

,rat,experiment group,drug group,cohort,sex,rfid,d.o.b,date of wean,date of ship,litter number,...,group for shock,irritability 1 collection,irritability 1 date,irritability 2 collection,irritability 2 date,recatheter surgeon,recatheter surgery date,dissection,dissection date,date of death
0,F801,Drug,Cocaine,8,Female,933000320047477,25/04/2019,16/05/2019,21/05/2019,2,...,1.0,"SS, LC, KS, LS",18/06/2019,"SS, LC, KS, LS",2019-08-08,NaN,NaN,NaN,13/08/2019,NaN
1,F802,Drug,Cocaine,8,Female,933000320047103,22/04/2019,13/05/2019,21/05/2019,6,...,1.0,"SS, LC, KS, LS",18/06/2019,"SS, LC, KS, LS",2019-08-08,NaN,NaN,Intox,2019-12-08 00:00:00,NaN
2,F803,Drug,Cocaine,8,Female,933000320047470,22/04/2019,13/05/2019,21/05/2019,6,...,1.0,"SS, LC, KS, LS",18/06/2019,"SS, LC, KS, LS",2019-08-08,NaN,NaN,NaN,30/08/2019,NaN
3,F804,Drug,Cocaine,8,Female,933000320047475,22/04/2019,13/05/2019,21/05/2019,5,...,1.0,"SS, LC, KS, LS",18/06/2019,"SS, LC, KS, LS",2019-08-08,NaN,NaN,Withdrawal,2019-12-08 00:00:00,NaN
4,F805,Drug,Cocaine,8,Female,933000320047312,25/04/2019,16/05/2019,21/05/2019,6,...,1.0,"SS, LC, KS, LS",18/06/2019,"SS, LC, KS, LS",2019-08-08,NaN,NaN,Intox,30/08/2019,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,M882,Naive,Cocaine,8,Male,933000320047483,24/04/2019,15/05/2019,21/05/2019,6,...,NaN,"SS, LC, KS, LS",19/06/2019,NaN,NaT,NaN,NaN,Intox,NaN,ANIMALS WERE USED FOR CHOICE TEST
68,M883,Naive,Cocaine,8,Male,933000320047251,22/04/2019,13/05/2019,21/05/2019,2,...,NaN,"SS, LC, KS, LS",19/06/2019,NaN,NaT,NaN,NaN,Intox,NaN,ANIMALS WERE USED FOR CHOICE TEST
69,M884,Naive,Cocaine,8,Male,933000320047473,22/04/2019,13/05/2019,21/05/2019,6,...,NaN,"SS, LC, KS, LS",19/06/2019,NaN,NaT,NaN,NaN,Withdrawal,NaN,ANIMALS WERE USED FOR CHOICE TEST
70,M886,Naive,Cocaine,8,Male,933000320047256,22/04/2019,13/05/2019,21/05/2019,2,...,NaN,"SS, LC, KS, LS",19/06/2019,NaN,NaT,NaN,NaN,Protracted abstinence,NaN,ANIMALS WERE USED FOR CHOICE TEST
71,M887,Naive,Cocaine,8,Male,933000320047262,22/04/2019,13/05/2019,21/05/2019,2,...,NaN,"SS, LC, KS, LS",19/06/2019,NaN,NaT,NaN,NaN,NaN,NaN,ANIMALS WERE USED FOR CHOICE TEST

In [49]:
def date_format(d):
    if isinstance(d, float):
        return None
    else:
        date_vals = d.str.split('/')
        # print(date_vals)
        month, day, year = date_vals[1], date_vals[0], date_vals[2]
        new_date_vals = [month, day, year]
        print(new_date_vals)
        return new_date_vals
df[cols_to_fix] = df[cols_to_fix].astype(str)
df[cols_to_fix] = df[cols_to_fix].apply(date_format)
# df[cols_to_fix] = df[cols_to_fix].apply(lambda x: x.str.split('/') if (not isinstance(x, float)) else None)
df

[['22', '04', '2019'], ['25', '04', '2019'], ['22', '04', '2019']]
[['13', '05', '2019'], ['16', '05', '2019'], ['13', '05', '2019']]
[['21', '05', '2019'], ['21', '05', '2019'], ['21', '05', '2019']]
[['22', '05', '2019'], ['22', '05', '2019'], ['22', '05', '2019']]
[['2019-10-06'], ['2019-10-06'], ['2019-10-06']]
[['2019-10-06 00:00:00'], ['2019-10-06 00:00:00'], ['2019-10-06 00:00:00']]
[['24', '06', '2019'], ['24', '06', '2019'], ['24', '06', '2019']]
[['2019-09-07'], ['2019-09-07'], ['2019-09-07']]
[['2019-11-07'], ['2019-11-07'], ['2019-11-07']]
[['30', '07', '2019'], ['30', '07', '2019'], ['30', '07', '2019']]
[['2019-01-08'], ['2019-01-08'], ['2019-01-08']]
[['2019-05-08'], ['2019-05-08'], ['2019-05-08']]
[['2019-07-08'], ['2019-07-08'], ['2019-07-08']]
[['nan'], ['nan'], ['nan']]
[['nan'], ['nan'], ['nan']]
[['nan'], ['nan'], ['nan']]
[['2019-07-31'], ['2019-07-31'], ['2019-07-31']]
[['2019-10-07'], ['2019-10-07'], ['2019-10-07']]
[['31', '07', '2019'], ['31', '07', '2019'], ['31', '07', '2019']]
[['2019-06-08'], ['2019-06-08'], ['2019-06-08']]
[['2019-01-08'], ['2019-01-08'], ['2019-01-08']]
[['nan'], ['nan'], ['nan']]
[['nan'], ['nan'], ['nan']]
[['2019-02-08'], ['2019-02-08'], ['2019-02-08']]
[['18', '06', '2019'], ['18', '06', '2019'], ['18', '06', '2019']]
[['nan'], ['nan'], ['nan']]
[['2019-06-07'], ['2019-06-07'], ['2019-06-07']]
[['2019-10-06'], ['2019-10-06'], ['2019-10-06']]
[['2019-06-20'], ['2019-06-20'], ['2019-06-20']]
[['2019-06-27'], ['2019-06-27'], ['2019-06-27']]
[['2019-07-08'], ['2019-07-08'], ['2019-07-08']]
[['2019-07-15'], ['2019-07-15'], ['2019-07-15']]
[['2019-07-22'], ['2019-07-22'], ['2019-07-22']]
[['2019-07-26'], ['2019-07-26'], ['2019-07-26']]
[['2019-08-05'], ['2019-08-05'], ['2019-08-05']]
[['nan'], ['nan'], ['nan']]
[['17', '06', '2019'], ['17', '06', '2019'], ['17', '06', '2019']]
[['2019-09-07'], ['2019-09-07'], ['2019-09-07']]
[['2019-08-08'], ['2019-08-08'], ['2019-08-08']]
[['nan'], ['nan'], ['nan']]
[['20', '06', '2019'], ['20', '06', '2019'], ['20', '06', '2019']]
[['2019-09-07'], ['2019-09-07'], ['2019-09-07']]
[['2019-08-08'], ['2019-08-08'], ['2019-08-08']]
[['18', '06', '2019'], ['18', '06', '2019'], ['18', '06', '2019']]
[['2019-08-08'], ['2019-08-08'], ['2019-08-08']]
[['nan'], ['nan'], ['nan']]
[['2019-12-08 00:00:00'], ['13', '08', '2019'], ['30', '08', '2019']]
[['nan'], ['nan'], ['nan']]

,rat,experiment group,drug group,cohort,sex,rfid,d.o.b,date of wean,date of ship,litter number,...,group for shock,irritability 1 collection,irritability 1 date,irritability 2 collection,irritability 2 date,recatheter surgeon,recatheter surgery date,dissection,dissection date,date of death
0,F801,Drug,Cocaine,8,Female,933000320047477,"[22, 04, 2019]","[13, 05, 2019]","[21, 05, 2019]",2,...,1.0,"SS, LC, KS, LS","[18, 06, 2019]","SS, LC, KS, LS",[2019-08-08],NaN,[nan],NaN,[2019-12-08 00:00:00],[nan]
1,F802,Drug,Cocaine,8,Female,933000320047103,"[25, 04, 2019]","[16, 05, 2019]","[21, 05, 2019]",6,...,1.0,"SS, LC, KS, LS","[18, 06, 2019]","SS, LC, KS, LS",[2019-08-08],NaN,[nan],Intox,"[13, 08, 2019]",[nan]
2,F803,Drug,Cocaine,8,Female,933000320047470,"[22, 04, 2019]","[13, 05, 2019]","[21, 05, 2019]",6,...,1.0,"SS, LC, KS, LS","[18, 06, 2019]","SS, LC, KS, LS",[2019-08-08],NaN,[nan],NaN,"[30, 08, 2019]",[nan]
3,F804,Drug,Cocaine,8,Female,933000320047475,NaN,NaN,NaN,5,...,1.0,"SS, LC, KS, LS",NaN,"SS, LC, KS, LS",NaN,NaN,NaN,Withdrawal,NaN,NaN
4,F805,Drug,Cocaine,8,Female,933000320047312,NaN,NaN,NaN,6,...,1.0,"SS, LC, KS, LS",NaN,"SS, LC, KS, LS",NaN,NaN,NaN,Intox,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67,M882,Naive,Cocaine,8,Male,933000320047483,NaN,NaN,NaN,6,...,NaN,"SS, LC, KS, LS",NaN,NaN,NaN,NaN,NaN,Intox,NaN,NaN
68,M883,Naive,Cocaine,8,Male,933000320047251,NaN,NaN,NaN,2,...,NaN,"SS, LC, KS, LS",NaN,NaN,NaN,NaN,NaN,Intox,NaN,NaN
69,M884,Naive,Cocaine,8,Male,933000320047473,NaN,NaN,NaN,6,...,NaN,"SS, LC, KS, LS",NaN,NaN,NaN,NaN,NaN,Withdrawal,NaN,NaN
70,M886,Naive,Cocaine,8,Male,933000320047256,NaN,NaN,NaN,2,...,NaN,"SS, LC, KS, LS",NaN,NaN,NaN,NaN,NaN,Protracted abstinence,NaN,NaN
71,M887,Naive,Cocaine,8,Male,933000320047262,NaN,NaN,NaN,2,...,NaN,"SS, LC, KS, LS",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['feces 4 date']