In [60]:
import pandas as pd
import numpy as np

## irritability

In [5]:
irr = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/irritability.csv')
irr.drop('#',axis=1,inplace=True)
irr

,subject,rfid,cohort,sex,group,def_bsl_irr_1,agg_bsl_irr_1,irr_bsl_tot_1,irr_bsl_scorer_1,def_bsl_irr_2,...,def_drug_irr_3,agg_drug_irr_3,irr_drug_total_3,irr_drug_scorer_3,def_drug_ave,agg_drug_ave,total_drug_ave,diff_ave_def,diff_ave_agg,diff_ave_total
0,F1,933000120124701,1,F,cocaine,-999,-999,-999,NaN,-999,...,15,11,26,adam,13.333333,7.333333,20.666667,-999.0,-999.0,-999.0
1,F2,933000120124703,1,F,cocaine,-999,-999,-999,NaN,-999,...,16,4,20,adam,14.666667,3.000000,17.666667,-999.0,-999.0,-999.0
2,F3,933000120117342,1,F,cocaine,-999,-999,-999,NaN,-999,...,9,15,24,adam,8.666667,12.666667,21.333333,-999.0,-999.0,-999.0
3,F4,933000120117333,1,F,cocaine,-999,-999,-999,NaN,-999,...,2,3,5,adam,2.000000,2.333333,4.333333,-999.0,-999.0,-999.0
4,F5,933000120117347,1,F,cocaine,-999,-999,-999,NaN,-999,...,6,0,6,adam,9.333333,0.000000,9.333333,-999.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,M1184,933000320187306,11,M,naive,4,13,17,kokila,3,...,-999,-999,-999,NaN,-999.000000,-999.000000,-999.000000,-999.0,-999.0,-999.0
658,M1185,933000320187176,11,M,naive,0,2,2,kokila,0,...,-999,-999,-999,NaN,-999.000000,-999.000000,-999.000000,-999.0,-999.0,-999.0
659,M1186,933000320187318,11,M,naive,0,0,0,kokila,1,...,-999,-999,-999,NaN,-999.000000,-999.000000,-999.000000,-999.0,-999.0,-999.0
660,M1187,933000320187313,11,M,naive,4,6,10,kokila,4,...,-999,-999,-999,NaN,-999.000000,-999.000000,-999.000000,-999.0,-999.0,-999.0
661,M1188,933000320187200,11,M,naive,3,8,11,kokila,1,...,-999,-999,-999,NaN,-999.000000,-999.000000,-999.000000,-999.0,-999.0,-999.0

In [51]:
irr.rfid.value_counts()

933000120124701    1
933000320047259    1
933000320047483    1
933000320047251    1
933000320047473    1
                  ..
933000120138586    1
933000120138404    1
933000120138383    1
933000120138494    1
933000320187200    1
Name: rfid, Length: 662, dtype: int64

## tail immersion

In [7]:
ti = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/tail_immersion.csv')
ti.drop('#',axis=1,inplace=True)
ti

,rfid,subject,cohort,sex,experiment_group,drug,tail_immersion_1_time,tail_immersion_2_time,tail_immersion_3_time,tail_immersion_difference_tolerance,tail_immersion_1_date,tail_immersion_2_date,tail_immersion_3_date
0,933000320045738,F301,3,Female,Drug,oxycodone,4.00,5.34,8.10,-2.76,2019-01-07,2019-01-21,2019-02-15
1,933000320045726,F302,3,Female,Drug,oxycodone,4.00,5.94,7.00,-1.06,2019-01-07,2019-01-21,2019-02-15
2,933000320045747,F303,3,Female,Drug,oxycodone,4.00,5.53,6.31,-0.78,2019-01-07,2019-01-21,2019-02-15
3,933000320045734,F304,3,Female,Drug,oxycodone,2.00,5.19,6.85,-1.66,2019-01-07,2019-01-21,2019-02-15
4,933000320045669,F305,3,Female,Drug,oxycodone,3.00,5.25,5.59,-0.34,2019-01-07,2019-01-21,2019-02-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,933000320697502,M1784,17,Male,Naive,oxycodone,4.07,NaN,NaN,NaN,2022-05-11,2022-05-31,2022-06-24
972,933000320697510,M1785,17,Male,Naive,oxycodone,3.62,NaN,NaN,NaN,2022-05-11,2022-05-31,2022-06-24
973,933000320697515,M1786,17,Male,Naive,oxycodone,2.50,NaN,NaN,NaN,2022-05-11,2022-05-31,2022-06-24
974,933000320697504,M1787,17,Male,Naive,oxycodone,4.00,NaN,NaN,NaN,2022-05-11,2022-05-31,2022-06-24
975,933000320697503,M1788,17,Male,Naive,oxycodone,3.03,NaN,NaN,NaN,2022-05-11,2022-05-31,2022-06-24

## voy frey

In [9]:
vf = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/von_frey.csv')
vf.drop('#',axis=1,inplace=True)
vf

,rfid,subject,cohort,sex,experiment_group,drug,vf1_right_force_1,vf1_right_force_2,vf1_right_force_3,vf1_right_force_avg,...,vf2_left_time_1,vf2_left_time_2,vf2_left_time_3,vf2_left_avg,von_frey_2_date,von_frey_1_force,von_frey_1_time,von_frey_2_force,von_frey_2_time,von_frey_difference_force
0,933000320186887,M773,7,Male,Drug,oxycodone,31.9,8.0,26.9,22.3,...,NaN,NaN,NaN,NaN,2020-04-26,22.15,10.95,NaN,NaN,NaN
1,933000120138681,F101,1,Female,Drug,oxycodone,13.7,13.3,27.7,18.2,...,12.8,11.0,11.1,11.600000,2018-08-30,23.40,13.70,24.55,12.200000,-1.15
2,933000120138443,F102,1,Female,Drug,oxycodone,16.1,5.4,15.3,12.3,...,4.7,8.4,7.6,6.900000,2018-08-30,13.65,16.00,13.05,6.400000,0.60
3,933000120138699,F103,1,Female,Drug,oxycodone,27.9,24.7,12.9,21.8,...,6.8,3.9,2.8,4.500000,2018-08-30,18.15,17.10,11.90,5.800000,6.25
4,933000120138703,F104,1,Female,Drug,oxycodone,3.8,10.1,5.0,6.3,...,8.7,15.9,8.7,11.100000,2018-08-30,8.55,12.35,19.90,9.850000,-11.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061,933000320697502,M1784,17,Male,Naive,oxycodone,4.6,20.0,13.3,12.6,...,7.6,20.5,17.9,15.300000,2022-04-07,16.10,7.95,22.85,11.400000,-6.75
1062,933000320697510,M1785,17,Male,Naive,oxycodone,31.7,31.5,37.8,33.7,...,13.9,16.3,8.3,12.800000,2022-04-07,28.00,13.95,22.75,11.250000,5.25
1063,933000320697515,M1786,17,Male,Naive,oxycodone,32.8,26.5,19.8,26.4,...,8.9,4.7,12.7,8.766667,2022-04-07,24.60,12.20,16.20,7.983333,8.40
1064,933000320697504,M1787,17,Male,Naive,oxycodone,28.1,34.4,40.0,34.2,...,19.3,16.9,9.6,15.266667,2022-04-07,30.35,16.05,31.05,15.483333,-0.70
1065,933000320697503,M1788,17,Male,Naive,oxycodone,35.2,27.7,9.5,24.1,...,7.3,11.9,10.1,9.766667,2022-04-07,20.45,10.15,20.35,10.083333,0.10

## trial_note

In [10]:
note = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/trial_note.csv')
note.drop('#',axis=1,inplace=True)
note

,rfid,subject,cohort,sex,drug,experiment_group,trial_id,start_date,code,to_do,note
0,933000320047006,M987,9,Male,Cocaine,Drug,LGA01,2019-10-08,Disconnect,Keep,NaN
1,933000320186832,M1072,10,Male,Cocaine,Drug,LGA02,2020-01-14,Died,Discard,NaN
2,933000320188172,M1565,15,Male,Cocaine,Drug,LGA01,2021-01-13,Tangled,Keep,NaN
3,933000320188113,M1553,15,Male,Cocaine,Drug,LGA06,2021-01-21,Tangled,Discard,NaN
4,933000320187895,M1572,15,Male,Cocaine,Drug,LGA11,2021-01-28,Sick/wound,Keep,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1541,933000320697653,F1716,17,Female,Oxycodone,Drug,TREATMENT03,2022-07-08,Other,Discard,data did not record
1542,933000320697556,F1718,17,Female,Oxycodone,Drug,LGA18,2022-07-11,Disconnected,Discard,NaN
1543,933000320697558,F1721,17,Male,Oxycodone,Drug,LGA18,2022-07-11,Disconnected,Discard,NaN
1544,933000320697654,M1755,17,Male,Oxycodone,Drug,LGA18,2022-07-11,Disconnected,Discard,NaN
1545,933000320697534,M1757,17,Male,Oxycodone,Drug,TREATMENT04,2022-07-12,Dead,Discard,found dead after session

In [38]:
rows = []
rfids = [i for i in note.rfid.unique()]

for rfid in rfids:
    temp = note[note.rfid==rfid]
    temp = temp.reset_index(drop=True)
    temp.sort_values(['trial_id'],inplace=True)
    temp.set_index('trial_id',inplace=True)
    temp_row = temp.iloc[:,1:].unstack().to_frame().sort_index(level=1).T
    temp_row.insert(loc=0, column='rfid', value=temp.rfid.unique())
    temp_row = temp_row.reset_index(drop=True)
    rows.append(temp_row)

In [40]:
rows[10]

,rfid,code,cohort,drug,experiment_group,note,sex,start_date,subject,to_do
trial_id,,PR02,PR02,PR02,PR02,PR02,PR02,PR02,PR02,PR02
0,933000120117332,Other,1,Cocaine,Drug,Accidentally ran LgA instead of PR,Female,2017-09-05,F22,Discard

In [52]:
def unstack_data(df):
    rows = []
    rfids = [i for i in df.rfid.unique()]

    for rfid in rfids:
        temp = df[df.rfid==rfid]
        temp = temp.reset_index(drop=True)
        temp.sort_values(['trial_id'],inplace=True)
        temp.set_index('trial_id',inplace=True)
        temp_row = temp.iloc[:,1:].unstack().to_frame().sort_index(level=1).T
        temp_row.insert(loc=0, column='rfid', value=temp.rfid.unique())
        temp_row = temp_row.reset_index(drop=True)
        rows.append(temp_row)
        
    return rows

In [111]:
def deserialize_data(ts):
    if pd.isnull(ts):
        return []
    return [float(i) for i in ts.split()]

## trial_shock

In [121]:
shock = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/trial_shock.csv')
shock.drop('#',axis=1,inplace=True)
shock.head()

,rfid,subject,room,cohort,trial_id,drug,box,start_time,end_time,start_date,end_date,total_active_lever_presses,total_inactive_lever_presses,total_shocks,total_reward,rewards_after_first_shock,rewards_got_shock,reward_timestamps
0,933000120138305,F100,NaN,2,PRESHOCK,cocaine,3,10:14:40,00:00:00,2017-11-21,0001-01-01,25,0,6,21,20,1.0 2.0 10.0 11.0 15.0 17.0,58.0 114.0 160.0 192.0 243.0 273.0 366.0 458.0...
1,933000120138288,M173,NaN,2,SHOCK02,cocaine,10,11:06:33,00:00:00,2017-11-29,0001-01-01,20,5,5,16,14,2.0 4.0 10.0 14.0 15.0,163.0 194.0 244.0 300.0 445.0 544.0 1049.0 117...
2,933000120138673,M472,NaN,4,PRESHOCK,cocaine,12,11:17:11,00:00:00,2018-05-21,0001-01-01,15,0,4,14,9,5.0 7.0 10.0 11.0,444.0 1176.0 1225.0 1407.0 1431.0 1566.0 1604....
3,933000120138715,F522,NaN,5,PRESHOCK,cocaine,6,12:02:51,00:00:00,2018-09-04,0001-01-01,25,0,6,20,19,1.0 7.0 10.0 12.0 15.0 16.0,79.0 105.0 132.0 293.0 358.0 516.0 765.0 828.0...
4,933000120138715,F522,NaN,5,SHOCK02,cocaine,6,11:26:34,00:00:00,2018-09-11,0001-01-01,11,1,3,10,5,5.0 8.0 10.0,89.0 165.0 229.0 304.0 341.0 438.0 552.0 948.0...

In [122]:
shock['rewards_got_shock'] = shock['rewards_got_shock'].apply(deserialize_data)
shock['reward_timestamps'] = shock['reward_timestamps'].apply(deserialize_data)

In [123]:
def clean_shock_id(id):
    if '0' not in id and id[-1].isdigit():
        return id[:-1] + '0' + id[-1]
    else:
        return id

In [124]:
shock['trial_id'] = shock['trial_id'].apply(clean_shock_id)

In [125]:
shock.trial_id.value_counts()

PRESHOCK      433
SHOCK02       304
SHOCK03       300
SHOCK         291
SHOCK01       260
PRESHOCK02    120
PRESHOCK03    110
PRESHOCK01     59
PRESHOCK04     32
SHOCK04        32
Name: trial_id, dtype: int64

In [126]:
temp = shock[shock.rfid==933000120138715]
temp = temp.reset_index(drop=True)
temp.sort_values(['trial_id'],inplace=True)
temp.set_index('trial_id',inplace=True)
temp_row = temp.iloc[:,1:].unstack().to_frame().sort_index(level=1).T
temp_row.insert(loc=0, column='rfid', value=temp.rfid.unique())
temp_row = temp_row.reset_index(drop=True)
temp_row

,rfid,box,cohort,drug,end_date,end_time,reward_timestamps,rewards_after_first_shock,rewards_got_shock,room,...,rewards_after_first_shock,rewards_got_shock,room,start_date,start_time,subject,total_active_lever_presses,total_inactive_lever_presses,total_reward,total_shocks
trial_id,,PRESHOCK,PRESHOCK,PRESHOCK,PRESHOCK,PRESHOCK,PRESHOCK,PRESHOCK,PRESHOCK,PRESHOCK,...,SHOCK03,SHOCK03,SHOCK03,SHOCK03,SHOCK03,SHOCK03,SHOCK03,SHOCK03,SHOCK03,SHOCK03
0,933000120138715,6,5,cocaine,0001-01-01,00:00:00,"[79.0, 105.0, 132.0, 293.0, 358.0, 516.0, 765....",19,"[1.0, 7.0, 10.0, 12.0, 15.0, 16.0]",NaN,...,0,[1.0],NaN,2018-09-13,10:42:07,F522,1,0,1,1

## trial_pr

In [127]:
pr = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/trial_pr.csv')
pr.drop('#',axis=1,inplace=True)
pr.head()

,rfid,subject,room,cohort,trial_id,drug,box,start_time,end_time,start_date,end_date,last_ratio,break_point,active_lever_presses,inactive_lever_presses,reward_presses,reward_points
0,933000320047477,F801,BSB273B,8,PR01,cocaine,1,09:01:42,10:44:53,2019-07-10,2019-07-10,40,32,164,22,10,1 2 4 6 9 12 15 20 25 32
1,933000320047103,F802,BSB273B,8,PR01,cocaine,2,09:01:44,11:06:01,2019-07-10,2019-07-10,15,12,43,4,6,1 2 4 6 9 12
2,933000320047470,F803,BSB273B,8,PR01,cocaine,3,09:01:47,10:24:19,2019-07-10,2019-07-10,1,1,1,6,1,1
3,933000320047475,F804,BSB273B,8,PR01,cocaine,4,09:01:50,10:25:16,2019-07-10,2019-07-10,4,2,5,1,2,1 2
4,933000320047312,F805,BSB273B,8,PR01,cocaine,5,09:01:53,11:16:15,2019-07-10,2019-07-10,32,25,108,0,9,1 2 4 6 9 12 15 20 25

In [128]:
pr['reward_points'] = pr['reward_points'].apply(deserialize_data)

In [130]:
rows = unstack_data(pr)

In [134]:
pr_unstacked = pd.concat(rows,ignore_index=True)
pr_unstacked.columns = ['rfid'] + [i[0]+'_'+i[1] for i in pr_unstacked.columns[1:]]
pr_unstacked

,rfid,active_lever_presses_PR01,box_PR01,break_point_PR01,cohort_PR01,drug_PR01,end_date_PR01,end_time_PR01,inactive_lever_presses_PR01,last_ratio_PR01,...,end_date_PR06,end_time_PR06,inactive_lever_presses_PR06,last_ratio_PR06,reward_points_PR06,reward_presses_PR06,room_PR06,start_date_PR06,start_time_PR06,subject_PR06
0,933000320047477,164,1,32,8,cocaine,2019-07-10,10:44:53,22,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,933000320047103,43,2,12,8,cocaine,2019-07-10,11:06:01,4,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,933000320047470,1,3,1,8,cocaine,2019-07-10,10:24:19,6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,933000320047475,5,4,2,8,cocaine,2019-07-10,10:25:16,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,933000320047312,108,5,25,8,cocaine,2019-07-10,11:16:15,0,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798,933000120138438,8,-999,2981,1,oxycodone,0001-01-01,00:00:00,4,1,...,0001-01-01,00:00:00,7,3,"[33.23, 33.51, 57.88, 817.93, 818.78, 2954.91,...",6,NaN,2018-09-17,00:00:00,M179
1799,933000120138452,3,-999,3449,1,oxycodone,0001-01-01,00:00:00,6,1,...,0001-01-01,00:00:00,3,5,"[37.51, 160.24, 1004.94, 1106.17, 1137.33, 114...",9,NaN,2018-09-17,00:00:00,M180
1800,933000120138752,27,-999,10118,1,oxycodone,0001-01-01,00:00:00,4,5,...,0001-01-01,00:00:00,5,7,"[25.15, 92.68, 149.4, 171.1, 218.8, 299.88, 11...",13,NaN,2018-09-17,00:00:00,M177
1801,933000120138741,162,-999,12260,1,oxycodone,0001-01-01,00:00:00,2,10,...,0001-01-01,00:00:00,49,28,"[3.6, 5.53, 28.43, 29.59, 30.23, 31.73, 35.94,...",38,NaN,2018-09-17,00:00:00,M175
1802,933000120138739,51,-999,14721,1,oxycodone,0001-01-01,00:00:00,21,6,...,0001-01-01,00:00:00,19,14,"[14.69, 24.98, 25.85, 42.5, 44.26, 47.24, 62.8...",24,NaN,2018-09-17,00:00:00,M178

## trial_sha

In [140]:
sha = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/trial_sha.csv')
sha.drop('#',axis=1,inplace=True)
sha.head()

,rfid,subject,room,cohort,trial_id,drug,box,start_time,end_time,start_date,end_date,active_lever_presses,inactive_lever_presses,reward_presses,timeout_presses,active_timestamps,inactive_timestamps,reward_timestamps,timeout_timestamps
0,933000320499945,F1804,MTF134B,18,SHA09,cocaine,4,08:23:07,11:07:44,2021-09-09,2021-09-09,2,3,2,3,3370 5456,138 138 141,3370 5456,NaN
1,933000320500017,F1827,MTF134C,18,SHA03,cocaine,11,08:43:20,11:26:03,2021-08-31,2021-08-31,0,0,0,3,NaN,NaN,NaN,NaN
2,933000320525363,F2028,MTF134C,20,SHA07,cocaine,12,10:00:08,12:00:29,2022-03-14,2022-03-14,4,3,2,5,1332 1350 1351 1421,62 527 6843,1332 1421,1350 1351
3,933000320525321,M2064,MTF134D,20,SHA02,cocaine,12,09:51:51,12:04:54,2022-03-07,2022-03-07,6,6,2,7,1036 1045 1046 1056 4526 4546,683 684 4658 4659 5482 5484,1036 4526,1045 1046 1056 4546
4,933000320525372,M2076,MTF134E,20,SHA04,cocaine,8,08:54:44,12:11:15,2022-03-09,2022-03-09,5,0,5,3,125 3175 6406 6435 6499,NaN,125 3175 6406 6435 6499,NaN

In [141]:
sha['active_timestamps'] = sha['active_timestamps'].apply(deserialize_data)
sha['inactive_timestamps'] = sha['inactive_timestamps'].apply(deserialize_data)
sha['reward_timestamps'] = sha['reward_timestamps'].apply(deserialize_data)
sha['timeout_timestamps'] = sha['timeout_timestamps'].apply(deserialize_data)

In [145]:
rows = unstack_data(sha)

In [146]:
pd.concat(rows)

,rfid,active_lever_presses,active_timestamps,box,cohort,drug,end_date,end_time,inactive_lever_presses,inactive_timestamps,...,inactive_lever_presses,inactive_timestamps,reward_presses,reward_timestamps,room,start_date,start_time,subject,timeout_presses,timeout_timestamps
trial_id,,SHA01,SHA01,SHA01,SHA01,SHA01,SHA01,SHA01,SHA01,SHA01,...,SHA11,SHA11,SHA11,SHA11,SHA11,SHA11,SHA11,SHA11,SHA11,SHA11
0,933000320499945,0,[],4,18,cocaine,2021-08-27,11:23:58,0,[],...,2,"[205.0, 2747.0]",2,"[195.0, 293.0]",MTF134B,2021-09-13,08:00:54,F1804,4,[198.0]
0,933000320500017,5,"[3.0, 6.0, 24.0, 1891.0, 5192.0]",11,18,cocaine,2021-08-27,11:44:53,0,[],...,0,[],4,"[602.0, 624.0, 2767.0, 4367.0]",MTF134C,2021-09-13,08:21:42,F1827,4,[4373.0]
0,933000320525363,7,"[3572.0, 3635.0, 3655.0, 3670.0, 3671.0, 4390....",12,20,cocaine,2022-03-04,11:56:23,3,"[1781.0, 3660.0, 6515.0]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,933000320525321,5,"[91.0, 100.0, 2557.0, 5663.0, 5665.0]",12,20,cocaine,2022-03-04,11:45:44,18,"[34.0, 37.0, 45.0, 46.0, 46.0, 2508.0, 2508.0,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,933000320525372,2,"[3584.0, 4129.0]",8,20,cocaine,2022-03-04,11:56:56,3,"[27.0, 625.0, 662.0]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,933000320046397,7,"[36.0, 589.0, 589.0, 1891.0, 3086.0, 4772.0, 4...",8,7,cocaine,2019-01-21,11:39:52,2,"[2941.0, 4625.0]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,933000320045791,6,"[623.0, 821.0, 2493.0, 3764.0, 4680.0, 6752.0]",9,7,cocaine,2019-01-21,11:39:52,1,[5405.0],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,933000320045799,7,"[526.0, 535.0, 1903.0, 4097.0, 4152.0, 6913.0,...",10,7,cocaine,2019-01-21,11:39:52,7,"[114.0, 3604.0, 3606.0, 4040.0, 4042.0, 4043.0...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,933000320045785,4,"[1585.0, 5459.0, 5465.0, 6795.0]",11,7,cocaine,2019-01-21,11:39:52,0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,933000320045788,6,"[3727.0, 4819.0, 4849.0, 4858.0, 6196.0, 7134.0]",12,7,cocaine,2019-01-21,11:39:52,7,"[1306.0, 1309.0, 3747.0, 3749.0, 4272.0, 4748....",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## trial_lga

In [147]:
lga = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/trial_lga.csv')
lga.drop('#',axis=1,inplace=True)
lga.head()

,rfid,subject,room,cohort,trial_id,drug,box,start_time,end_time,start_date,end_date,active_lever_presses,inactive_lever_presses,reward_presses,timeout_presses,active_timestamps,inactive_timestamps,reward_timestamps,timeout_timestamps
0,933000320047477,F801,BSB273B,8,LGA01,cocaine,1,09:16:44,15:42:38,2019-07-11,2019-07-11,113,2,86,30,2309 2316 2317 2349 2410 2446 2526 2546 2922 3...,2342 2343,2309 2349 2410 2446 2526 2546 2922 3128 3325 3...,2316 2317 3539 5848 5849 7465 9309 10717 10973...
1,933000320047103,F802,BSB273B,8,LGA01,cocaine,2,09:16:49,15:42:38,2019-07-11,2019-07-11,101,8,68,36,307 315 422 423 2693 2694 2925 3242 3472 3787 ...,471 519 519 523 804 808 4719 20603,307 422 2693 2925 3242 3472 3787 4539 4779 528...,315 423 2694 4783 4785 5317 8143 8849 9034 940...
2,933000320047470,F803,BSB273B,8,LGA01,cocaine,3,09:16:52,15:42:38,2019-07-11,2019-07-11,5,11,5,3,2788 3120 4917 7356 16818,2805 2922 3182 3183 3277 3365 8349 16420 17542...,2788 3120 4917 7356 16818,NaN
3,933000320047475,F804,BSB273B,8,LGA01,cocaine,4,09:16:54,15:42:38,2019-07-11,2019-07-11,20,9,16,7,4551 4723 4729 6709 6711 6859 8197 8241 8801 1...,6854 11123 14652 14672 14673 14675 20440 20444...,4551 4723 6709 6859 8197 8241 8801 13163 14446...,4729 6711 14688 19069
4,933000320047312,F805,BSB273B,8,LGA01,cocaine,5,09:16:58,15:42:38,2019-07-11,2019-07-11,144,0,127,20,100 166 166 167 188 213 492 516 628 688 886 98...,NaN,100 166 188 213 492 516 628 688 886 980 1150 1...,166 167 2868 8858 12183 13597 14155 14156 1431...

In [148]:
lga['active_timestamps'] = lga['active_timestamps'].apply(deserialize_data)
lga['inactive_timestamps'] = lga['inactive_timestamps'].apply(deserialize_data)
lga['reward_timestamps'] = lga['reward_timestamps'].apply(deserialize_data)
lga['timeout_timestamps'] = lga['timeout_timestamps'].apply(deserialize_data)

In [149]:
rows = unstack_data(lga)

In [151]:
pd.concat(rows, ignore_index=True)

,rfid,active_lever_presses,active_timestamps,box,cohort,drug,end_date,end_time,inactive_lever_presses,inactive_timestamps,...,inactive_lever_presses,inactive_timestamps,reward_presses,reward_timestamps,room,start_date,start_time,subject,timeout_presses,timeout_timestamps
trial_id,,LGA01,LGA01,LGA01,LGA01,LGA01,LGA01,LGA01,LGA01,LGA01,...,LGA28,LGA28,LGA28,LGA28,LGA28,LGA28,LGA28,LGA28,LGA28,LGA28
0,933000320047477,113,"[2309.0, 2316.0, 2317.0, 2349.0, 2410.0, 2446....",1,8,cocaine,2019-07-11,15:42:38,2,"[2342.0, 2343.0]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,933000320047103,101,"[307.0, 315.0, 422.0, 423.0, 2693.0, 2694.0, 2...",2,8,cocaine,2019-07-11,15:42:38,8,"[471.0, 519.0, 519.0, 523.0, 804.0, 808.0, 471...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,933000320047470,5,"[2788.0, 3120.0, 4917.0, 7356.0, 16818.0]",3,8,cocaine,2019-07-11,15:42:38,11,"[2805.0, 2922.0, 3182.0, 3183.0, 3277.0, 3365....",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,933000320047475,20,"[4551.0, 4723.0, 4729.0, 6709.0, 6711.0, 6859....",4,8,cocaine,2019-07-11,15:42:38,9,"[6854.0, 11123.0, 14652.0, 14672.0, 14673.0, 1...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,933000320047312,144,"[100.0, 166.0, 166.0, 167.0, 188.0, 213.0, 492...",5,8,cocaine,2019-07-11,15:42:38,0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,933000320624825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1825,933000320625136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1826,933000320624823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1827,933000320624771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1828,933000320625146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN