In [60]:
import pandas as pd
import numpy as np

## irritability

In [5]:
irr = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/irritability.csv')
irr.drop('#',axis=1,inplace=True)
irr

,subject,rfid,cohort,sex,group,def_bsl_irr_1,agg_bsl_irr_1,irr_bsl_tot_1,irr_bsl_scorer_1,def_bsl_irr_2,...,def_drug_irr_3,agg_drug_irr_3,irr_drug_total_3,irr_drug_scorer_3,def_drug_ave,agg_drug_ave,total_drug_ave,diff_ave_def,diff_ave_agg,diff_ave_total
0,F1,933000120124701,1,F,cocaine,-999,-999,-999,NaN,-999,...,15,11,26,adam,13.333333,7.333333,20.666667,-999.0,-999.0,-999.0
1,F2,933000120124703,1,F,cocaine,-999,-999,-999,NaN,-999,...,16,4,20,adam,14.666667,3.000000,17.666667,-999.0,-999.0,-999.0
2,F3,933000120117342,1,F,cocaine,-999,-999,-999,NaN,-999,...,9,15,24,adam,8.666667,12.666667,21.333333,-999.0,-999.0,-999.0
3,F4,933000120117333,1,F,cocaine,-999,-999,-999,NaN,-999,...,2,3,5,adam,2.000000,2.333333,4.333333,-999.0,-999.0,-999.0
4,F5,933000120117347,1,F,cocaine,-999,-999,-999,NaN,-999,...,6,0,6,adam,9.333333,0.000000,9.333333,-999.0,-999.0,-999.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
657,M1184,933000320187306,11,M,naive,4,13,17,kokila,3,...,-999,-999,-999,NaN,-999.000000,-999.000000,-999.000000,-999.0,-999.0,-999.0
658,M1185,933000320187176,11,M,naive,0,2,2,kokila,0,...,-999,-999,-999,NaN,-999.000000,-999.000000,-999.000000,-999.0,-999.0,-999.0
659,M1186,933000320187318,11,M,naive,0,0,0,kokila,1,...,-999,-999,-999,NaN,-999.000000,-999.000000,-999.000000,-999.0,-999.0,-999.0
660,M1187,933000320187313,11,M,naive,4,6,10,kokila,4,...,-999,-999,-999,NaN,-999.000000,-999.000000,-999.000000,-999.0,-999.0,-999.0
661,M1188,933000320187200,11,M,naive,3,8,11,kokila,1,...,-999,-999,-999,NaN,-999.000000,-999.000000,-999.000000,-999.0,-999.0,-999.0

In [51]:
irr.rfid.value_counts()

933000120124701    1
933000320047259    1
933000320047483    1
933000320047251    1
933000320047473    1
                  ..
933000120138586    1
933000120138404    1
933000120138383    1
933000120138494    1
933000320187200    1
Name: rfid, Length: 662, dtype: int64

## tail immersion

In [7]:
ti = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/tail_immersion.csv')
ti.drop('#',axis=1,inplace=True)
ti

,rfid,subject,cohort,sex,experiment_group,drug,tail_immersion_1_time,tail_immersion_2_time,tail_immersion_3_time,tail_immersion_difference_tolerance,tail_immersion_1_date,tail_immersion_2_date,tail_immersion_3_date
0,933000320045738,F301,3,Female,Drug,oxycodone,4.00,5.34,8.10,-2.76,2019-01-07,2019-01-21,2019-02-15
1,933000320045726,F302,3,Female,Drug,oxycodone,4.00,5.94,7.00,-1.06,2019-01-07,2019-01-21,2019-02-15
2,933000320045747,F303,3,Female,Drug,oxycodone,4.00,5.53,6.31,-0.78,2019-01-07,2019-01-21,2019-02-15
3,933000320045734,F304,3,Female,Drug,oxycodone,2.00,5.19,6.85,-1.66,2019-01-07,2019-01-21,2019-02-15
4,933000320045669,F305,3,Female,Drug,oxycodone,3.00,5.25,5.59,-0.34,2019-01-07,2019-01-21,2019-02-15
...,...,...,...,...,...,...,...,...,...,...,...,...,...
971,933000320697502,M1784,17,Male,Naive,oxycodone,4.07,NaN,NaN,NaN,2022-05-11,2022-05-31,2022-06-24
972,933000320697510,M1785,17,Male,Naive,oxycodone,3.62,NaN,NaN,NaN,2022-05-11,2022-05-31,2022-06-24
973,933000320697515,M1786,17,Male,Naive,oxycodone,2.50,NaN,NaN,NaN,2022-05-11,2022-05-31,2022-06-24
974,933000320697504,M1787,17,Male,Naive,oxycodone,4.00,NaN,NaN,NaN,2022-05-11,2022-05-31,2022-06-24
975,933000320697503,M1788,17,Male,Naive,oxycodone,3.03,NaN,NaN,NaN,2022-05-11,2022-05-31,2022-06-24

## voy frey

In [9]:
vf = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/von_frey.csv')
vf.drop('#',axis=1,inplace=True)
vf

,rfid,subject,cohort,sex,experiment_group,drug,vf1_right_force_1,vf1_right_force_2,vf1_right_force_3,vf1_right_force_avg,...,vf2_left_time_1,vf2_left_time_2,vf2_left_time_3,vf2_left_avg,von_frey_2_date,von_frey_1_force,von_frey_1_time,von_frey_2_force,von_frey_2_time,von_frey_difference_force
0,933000320186887,M773,7,Male,Drug,oxycodone,31.9,8.0,26.9,22.3,...,NaN,NaN,NaN,NaN,2020-04-26,22.15,10.95,NaN,NaN,NaN
1,933000120138681,F101,1,Female,Drug,oxycodone,13.7,13.3,27.7,18.2,...,12.8,11.0,11.1,11.600000,2018-08-30,23.40,13.70,24.55,12.200000,-1.15
2,933000120138443,F102,1,Female,Drug,oxycodone,16.1,5.4,15.3,12.3,...,4.7,8.4,7.6,6.900000,2018-08-30,13.65,16.00,13.05,6.400000,0.60
3,933000120138699,F103,1,Female,Drug,oxycodone,27.9,24.7,12.9,21.8,...,6.8,3.9,2.8,4.500000,2018-08-30,18.15,17.10,11.90,5.800000,6.25
4,933000120138703,F104,1,Female,Drug,oxycodone,3.8,10.1,5.0,6.3,...,8.7,15.9,8.7,11.100000,2018-08-30,8.55,12.35,19.90,9.850000,-11.35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1061,933000320697502,M1784,17,Male,Naive,oxycodone,4.6,20.0,13.3,12.6,...,7.6,20.5,17.9,15.300000,2022-04-07,16.10,7.95,22.85,11.400000,-6.75
1062,933000320697510,M1785,17,Male,Naive,oxycodone,31.7,31.5,37.8,33.7,...,13.9,16.3,8.3,12.800000,2022-04-07,28.00,13.95,22.75,11.250000,5.25
1063,933000320697515,M1786,17,Male,Naive,oxycodone,32.8,26.5,19.8,26.4,...,8.9,4.7,12.7,8.766667,2022-04-07,24.60,12.20,16.20,7.983333,8.40
1064,933000320697504,M1787,17,Male,Naive,oxycodone,28.1,34.4,40.0,34.2,...,19.3,16.9,9.6,15.266667,2022-04-07,30.35,16.05,31.05,15.483333,-0.70
1065,933000320697503,M1788,17,Male,Naive,oxycodone,35.2,27.7,9.5,24.1,...,7.3,11.9,10.1,9.766667,2022-04-07,20.45,10.15,20.35,10.083333,0.10

## trial_note

In [182]:
note = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/trial_note.csv')
note.drop('#',axis=1,inplace=True)
note

,rfid,subject,cohort,sex,drug,experiment_group,trial_id,start_date,code,to_do,note
0,933000320047006,M987,9,Male,Cocaine,Drug,LGA01,2019-10-08,Disconnect,Keep,NaN
1,933000320186832,M1072,10,Male,Cocaine,Drug,LGA02,2020-01-14,Died,Discard,NaN
2,933000320188172,M1565,15,Male,Cocaine,Drug,LGA01,2021-01-13,Tangled,Keep,NaN
3,933000320188113,M1553,15,Male,Cocaine,Drug,LGA06,2021-01-21,Tangled,Discard,NaN
4,933000320187895,M1572,15,Male,Cocaine,Drug,LGA11,2021-01-28,Sick/wound,Keep,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1541,933000320697653,F1716,17,Female,Oxycodone,Drug,TREATMENT03,2022-07-08,Other,Discard,data did not record
1542,933000320697556,F1718,17,Female,Oxycodone,Drug,LGA18,2022-07-11,Disconnected,Discard,NaN
1543,933000320697558,F1721,17,Male,Oxycodone,Drug,LGA18,2022-07-11,Disconnected,Discard,NaN
1544,933000320697654,M1755,17,Male,Oxycodone,Drug,LGA18,2022-07-11,Disconnected,Discard,NaN
1545,933000320697534,M1757,17,Male,Oxycodone,Drug,TREATMENT04,2022-07-12,Dead,Discard,found dead after session

In [183]:
note.trial_id.value_counts()

LGA01                118
LGA06                108
LGA10                 92
LGA16                 72
LGA14                 70
LGA15                 66
SHA07                 64
LGA13                 62
LGA05                 60
LGA12                 56
PR02                  56
LGA17                 56
LGA09                 55
LGA18                 53
LGA08                 47
LGA11                 46
LGA07                 45
LGA04                 45
LGA03                 36
TREATMENT03           35
TREATMENT01           34
LGA02                 34
LGA19                 26
TREATMENT02           21
TREATMENT04           19
SHA03                 17
LGA20                 17
SHA01                 15
LGA24                  9
SHA05                  9
SHA04                  9
SHA02                  8
SHOCK                  8
LGA22                  6
LGA25                  6
PRESHOCK               6
LGA26                  5
PR01                   5
SHA10                  5
SHA08                  5
LGA28                  4
PR03                   4
LGA21                  4
PRPBBG02               4
SHA09                  4
SHA06                  4
TREAMENT02             3
TREAMENT03             2
PRPBBG01               2
LGA23                  2
LGA27                  2
JOELTREATMENTPR02      1
PRE-SHOCK              1
SHA11                  1
PR                     1
JOELTREATMENTPR03      1
Name: trial_id, dtype: int64

In [38]:
rows = []
rfids = [i for i in note.rfid.unique()]

for rfid in rfids:
    temp = note[note.rfid==rfid]
    temp = temp.reset_index(drop=True)
    temp.sort_values(['trial_id'],inplace=True)
    temp.set_index('trial_id',inplace=True)
    temp_row = temp.iloc[:,1:].unstack().to_frame().sort_index(level=1).T
    temp_row.insert(loc=0, column='rfid', value=temp.rfid.unique())
    temp_row = temp_row.reset_index(drop=True)
    rows.append(temp_row)

In [40]:
rows[10]

,rfid,code,cohort,drug,experiment_group,note,sex,start_date,subject,to_do
trial_id,,PR02,PR02,PR02,PR02,PR02,PR02,PR02,PR02,PR02
0,933000120117332,Other,1,Cocaine,Drug,Accidentally ran LgA instead of PR,Female,2017-09-05,F22,Discard

In [52]:
def unstack_data(df):
    rows = []
    rfids = [i for i in df.rfid.unique()]

    for rfid in rfids:
        temp = df[df.rfid==rfid]
        temp = temp.reset_index(drop=True)
        temp.sort_values(['trial_id'],inplace=True)
        temp.set_index('trial_id',inplace=True)
        temp_row = temp.iloc[:,1:].unstack().to_frame().sort_index(level=1).T
        temp_row.insert(loc=0, column='rfid', value=temp.rfid.unique())
        temp_row = temp_row.reset_index(drop=True)
        rows.append(temp_row)
        
    return rows

In [111]:
def deserialize_data(ts):
    if pd.isnull(ts):
        return []
    return [float(i) for i in ts.split()]

## trial_shock

In [194]:
shock = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/trial_shock.csv')
shock.drop('#',axis=1,inplace=True)
shock.head()

,rfid,subject,room,cohort,trial_id,drug,box,start_time,end_time,start_date,end_date,total_active_lever_presses,total_inactive_lever_presses,total_shocks,total_reward,rewards_after_first_shock,rewards_got_shock,reward_timestamps
0,933000120138305,F100,NaN,2,PRESHOCK,cocaine,3,10:14:40,00:00:00,2017-11-21,0001-01-01,25,0,6,21,20,1.0 2.0 10.0 11.0 15.0 17.0,58.0 114.0 160.0 192.0 243.0 273.0 366.0 458.0...
1,933000120138288,M173,NaN,2,SHOCK02,cocaine,10,11:06:33,00:00:00,2017-11-29,0001-01-01,20,5,5,16,14,2.0 4.0 10.0 14.0 15.0,163.0 194.0 244.0 300.0 445.0 544.0 1049.0 117...
2,933000120138673,M472,NaN,4,PRESHOCK,cocaine,12,11:17:11,00:00:00,2018-05-21,0001-01-01,15,0,4,14,9,5.0 7.0 10.0 11.0,444.0 1176.0 1225.0 1407.0 1431.0 1566.0 1604....
3,933000120138715,F522,NaN,5,PRESHOCK,cocaine,6,12:02:51,00:00:00,2018-09-04,0001-01-01,25,0,6,20,19,1.0 7.0 10.0 12.0 15.0 16.0,79.0 105.0 132.0 293.0 358.0 516.0 765.0 828.0...
4,933000120138715,F522,NaN,5,SHOCK02,cocaine,6,11:26:34,00:00:00,2018-09-11,0001-01-01,11,1,3,10,5,5.0 8.0 10.0,89.0 165.0 229.0 304.0 341.0 438.0 552.0 948.0...

In [196]:
shock.trial_id.value_counts()

PRESHOCK      433
SHOCK         291
SHOCK01       260
SHOCK03       248
SHOCK02       246
PRESHOCK02     62
PRESHOCK01     59
SHOCK2         58
PRESHOCK2      58
PRESHOCK03     58
SHOCK3         52
PRESHOCK3      52
PRESHOCK4      20
SHOCK4         20
SHOCK04        12
PRESHOCK04     12
Name: trial_id, dtype: int64

In [173]:
shock['rewards_got_shock'] = shock['rewards_got_shock'].apply(deserialize_data)
shock['reward_timestamps'] = shock['reward_timestamps'].apply(deserialize_data)

In [174]:
def clean_shock_id(id):
    if '0' not in id and id[-1].isdigit():
        return id[:-1] + '0' + id[-1]
    else:
        return id

In [175]:
shock['trial_id'] = shock['trial_id'].apply(clean_shock_id)

In [181]:
shock.rfid.value_counts().head(8)

933000120138585    4
933000120138686    4
933000120138437    4
933000120138387    4
933000120138454    4
                  ..
933000120138649    4
933000120138665    4
933000120138718    4
933000120138717    4
933000120138661    4
Name: rfid, Length: 80, dtype: int64

In [126]:
temp = shock[shock.rfid==933000120138715]
temp = temp.reset_index(drop=True)
temp.sort_values(['trial_id'],inplace=True)
temp.set_index('trial_id',inplace=True)
temp_row = temp.iloc[:,1:].unstack().to_frame().sort_index(level=1).T
temp_row.insert(loc=0, column='rfid', value=temp.rfid.unique())
temp_row = temp_row.reset_index(drop=True)
temp_row

,rfid,box,cohort,drug,end_date,end_time,reward_timestamps,rewards_after_first_shock,rewards_got_shock,room,...,rewards_after_first_shock,rewards_got_shock,room,start_date,start_time,subject,total_active_lever_presses,total_inactive_lever_presses,total_reward,total_shocks
trial_id,,PRESHOCK,PRESHOCK,PRESHOCK,PRESHOCK,PRESHOCK,PRESHOCK,PRESHOCK,PRESHOCK,PRESHOCK,...,SHOCK03,SHOCK03,SHOCK03,SHOCK03,SHOCK03,SHOCK03,SHOCK03,SHOCK03,SHOCK03,SHOCK03
0,933000120138715,6,5,cocaine,0001-01-01,00:00:00,"[79.0, 105.0, 132.0, 293.0, 358.0, 516.0, 765....",19,"[1.0, 7.0, 10.0, 12.0, 15.0, 16.0]",NaN,...,0,[1.0],NaN,2018-09-13,10:42:07,F522,1,0,1,1

## trial_pr

In [127]:
pr = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/trial_pr.csv')
pr.drop('#',axis=1,inplace=True)
pr.head()

,rfid,subject,room,cohort,trial_id,drug,box,start_time,end_time,start_date,end_date,last_ratio,break_point,active_lever_presses,inactive_lever_presses,reward_presses,reward_points
0,933000320047477,F801,BSB273B,8,PR01,cocaine,1,09:01:42,10:44:53,2019-07-10,2019-07-10,40,32,164,22,10,1 2 4 6 9 12 15 20 25 32
1,933000320047103,F802,BSB273B,8,PR01,cocaine,2,09:01:44,11:06:01,2019-07-10,2019-07-10,15,12,43,4,6,1 2 4 6 9 12
2,933000320047470,F803,BSB273B,8,PR01,cocaine,3,09:01:47,10:24:19,2019-07-10,2019-07-10,1,1,1,6,1,1
3,933000320047475,F804,BSB273B,8,PR01,cocaine,4,09:01:50,10:25:16,2019-07-10,2019-07-10,4,2,5,1,2,1 2
4,933000320047312,F805,BSB273B,8,PR01,cocaine,5,09:01:53,11:16:15,2019-07-10,2019-07-10,32,25,108,0,9,1 2 4 6 9 12 15 20 25

In [128]:
pr['reward_points'] = pr['reward_points'].apply(deserialize_data)

In [130]:
rows = unstack_data(pr)

In [134]:
pr_unstacked = pd.concat(rows,ignore_index=True)
pr_unstacked.columns = ['rfid'] + [i[0]+'_'+i[1] for i in pr_unstacked.columns[1:]]
pr_unstacked

,rfid,active_lever_presses_PR01,box_PR01,break_point_PR01,cohort_PR01,drug_PR01,end_date_PR01,end_time_PR01,inactive_lever_presses_PR01,last_ratio_PR01,...,end_date_PR06,end_time_PR06,inactive_lever_presses_PR06,last_ratio_PR06,reward_points_PR06,reward_presses_PR06,room_PR06,start_date_PR06,start_time_PR06,subject_PR06
0,933000320047477,164,1,32,8,cocaine,2019-07-10,10:44:53,22,40,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,933000320047103,43,2,12,8,cocaine,2019-07-10,11:06:01,4,15,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,933000320047470,1,3,1,8,cocaine,2019-07-10,10:24:19,6,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,933000320047475,5,4,2,8,cocaine,2019-07-10,10:25:16,1,4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,933000320047312,108,5,25,8,cocaine,2019-07-10,11:16:15,0,32,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798,933000120138438,8,-999,2981,1,oxycodone,0001-01-01,00:00:00,4,1,...,0001-01-01,00:00:00,7,3,"[33.23, 33.51, 57.88, 817.93, 818.78, 2954.91,...",6,NaN,2018-09-17,00:00:00,M179
1799,933000120138452,3,-999,3449,1,oxycodone,0001-01-01,00:00:00,6,1,...,0001-01-01,00:00:00,3,5,"[37.51, 160.24, 1004.94, 1106.17, 1137.33, 114...",9,NaN,2018-09-17,00:00:00,M180
1800,933000120138752,27,-999,10118,1,oxycodone,0001-01-01,00:00:00,4,5,...,0001-01-01,00:00:00,5,7,"[25.15, 92.68, 149.4, 171.1, 218.8, 299.88, 11...",13,NaN,2018-09-17,00:00:00,M177
1801,933000120138741,162,-999,12260,1,oxycodone,0001-01-01,00:00:00,2,10,...,0001-01-01,00:00:00,49,28,"[3.6, 5.53, 28.43, 29.59, 30.23, 31.73, 35.94,...",38,NaN,2018-09-17,00:00:00,M175
1802,933000120138739,51,-999,14721,1,oxycodone,0001-01-01,00:00:00,21,6,...,0001-01-01,00:00:00,19,14,"[14.69, 24.98, 25.85, 42.5, 44.26, 47.24, 62.8...",24,NaN,2018-09-17,00:00:00,M178

## trial_sha

In [155]:
sha = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/trial_sha.csv')
sha.drop('#',axis=1,inplace=True)
sha['timeout_presses'] = sha['active_lever_presses'] - sha['reward_presses']
sha.head()

,rfid,subject,room,cohort,trial_id,drug,box,start_time,end_time,start_date,end_date,active_lever_presses,inactive_lever_presses,reward_presses,timeout_presses,active_timestamps,inactive_timestamps,reward_timestamps,timeout_timestamps
0,933000320499945,F1804,MTF134B,18,SHA09,cocaine,4,08:23:07,11:07:44,2021-09-09,2021-09-09,2,3,2,0,3370 5456,138 138 141,3370 5456,NaN
1,933000320500017,F1827,MTF134C,18,SHA03,cocaine,11,08:43:20,11:26:03,2021-08-31,2021-08-31,0,0,0,0,NaN,NaN,NaN,NaN
2,933000320525363,F2028,MTF134C,20,SHA07,cocaine,12,10:00:08,12:00:29,2022-03-14,2022-03-14,4,3,2,2,1332 1350 1351 1421,62 527 6843,1332 1421,1350 1351
3,933000320525321,M2064,MTF134D,20,SHA02,cocaine,12,09:51:51,12:04:54,2022-03-07,2022-03-07,6,6,2,4,1036 1045 1046 1056 4526 4546,683 684 4658 4659 5482 5484,1036 4526,1045 1046 1056 4546
4,933000320525372,M2076,MTF134E,20,SHA04,cocaine,8,08:54:44,12:11:15,2022-03-09,2022-03-09,5,0,5,0,125 3175 6406 6435 6499,NaN,125 3175 6406 6435 6499,NaN

In [156]:
sha['active_timestamps'] = sha['active_timestamps'].apply(deserialize_data)
sha['inactive_timestamps'] = sha['inactive_timestamps'].apply(deserialize_data)
sha['reward_timestamps'] = sha['reward_timestamps'].apply(deserialize_data)
sha['timeout_timestamps'] = sha['timeout_timestamps'].apply(deserialize_data)

In [157]:
rows = unstack_data(sha)

In [159]:
pd.concat(rows, ignore_index=True)

,rfid,active_lever_presses,active_timestamps,box,cohort,drug,end_date,end_time,inactive_lever_presses,inactive_timestamps,...,inactive_lever_presses,inactive_timestamps,reward_presses,reward_timestamps,room,start_date,start_time,subject,timeout_presses,timeout_timestamps
trial_id,,SHA01,SHA01,SHA01,SHA01,SHA01,SHA01,SHA01,SHA01,SHA01,...,SHA11,SHA11,SHA11,SHA11,SHA11,SHA11,SHA11,SHA11,SHA11,SHA11
0,933000320499945,0,[],4,18,cocaine,2021-08-27,11:23:58,0,[],...,2,"[205.0, 2747.0]",2,"[195.0, 293.0]",MTF134B,2021-09-13,08:00:54,F1804,1,[198.0]
1,933000320500017,5,"[3.0, 6.0, 24.0, 1891.0, 5192.0]",11,18,cocaine,2021-08-27,11:44:53,0,[],...,0,[],4,"[602.0, 624.0, 2767.0, 4367.0]",MTF134C,2021-09-13,08:21:42,F1827,1,[4373.0]
2,933000320525363,7,"[3572.0, 3635.0, 3655.0, 3670.0, 3671.0, 4390....",12,20,cocaine,2022-03-04,11:56:23,3,"[1781.0, 3660.0, 6515.0]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,933000320525321,5,"[91.0, 100.0, 2557.0, 5663.0, 5665.0]",12,20,cocaine,2022-03-04,11:45:44,18,"[34.0, 37.0, 45.0, 46.0, 46.0, 2508.0, 2508.0,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,933000320525372,2,"[3584.0, 4129.0]",8,20,cocaine,2022-03-04,11:56:56,3,"[27.0, 625.0, 662.0]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1777,933000320046397,7,"[36.0, 589.0, 589.0, 1891.0, 3086.0, 4772.0, 4...",8,7,cocaine,2019-01-21,11:39:52,2,"[2941.0, 4625.0]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1778,933000320045791,6,"[623.0, 821.0, 2493.0, 3764.0, 4680.0, 6752.0]",9,7,cocaine,2019-01-21,11:39:52,1,[5405.0],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1779,933000320045799,7,"[526.0, 535.0, 1903.0, 4097.0, 4152.0, 6913.0,...",10,7,cocaine,2019-01-21,11:39:52,7,"[114.0, 3604.0, 3606.0, 4040.0, 4042.0, 4043.0...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1780,933000320045785,4,"[1585.0, 5459.0, 5465.0, 6795.0]",11,7,cocaine,2019-01-21,11:39:52,0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1781,933000320045788,6,"[3727.0, 4819.0, 4849.0, 4858.0, 6196.0, 7134.0]",12,7,cocaine,2019-01-21,11:39:52,7,"[1306.0, 1309.0, 3747.0, 3749.0, 4272.0, 4748....",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## trial_lga

In [164]:
lga = pd.read_csv('/Users/yunyihuang/George Lab Dropbox/George_Lab/Experiments/DataStream/DataStream_Database_01-07-2023/Raw/trial_lga.csv')
lga.drop('#',axis=1,inplace=True)
lga['timeout_presses'] = lga['active_lever_presses'] - lga['reward_presses']
lga.head()

,rfid,subject,room,cohort,trial_id,drug,box,start_time,end_time,start_date,end_date,active_lever_presses,inactive_lever_presses,reward_presses,timeout_presses,active_timestamps,inactive_timestamps,reward_timestamps,timeout_timestamps
0,933000320047477,F801,BSB273B,8,LGA01,cocaine,1,09:16:44,15:42:38,2019-07-11,2019-07-11,113,2,86,27,2309 2316 2317 2349 2410 2446 2526 2546 2922 3...,2342 2343,2309 2349 2410 2446 2526 2546 2922 3128 3325 3...,2316 2317 3539 5848 5849 7465 9309 10717 10973...
1,933000320047103,F802,BSB273B,8,LGA01,cocaine,2,09:16:49,15:42:38,2019-07-11,2019-07-11,101,8,68,33,307 315 422 423 2693 2694 2925 3242 3472 3787 ...,471 519 519 523 804 808 4719 20603,307 422 2693 2925 3242 3472 3787 4539 4779 528...,315 423 2694 4783 4785 5317 8143 8849 9034 940...
2,933000320047470,F803,BSB273B,8,LGA01,cocaine,3,09:16:52,15:42:38,2019-07-11,2019-07-11,5,11,5,0,2788 3120 4917 7356 16818,2805 2922 3182 3183 3277 3365 8349 16420 17542...,2788 3120 4917 7356 16818,NaN
3,933000320047475,F804,BSB273B,8,LGA01,cocaine,4,09:16:54,15:42:38,2019-07-11,2019-07-11,20,9,16,4,4551 4723 4729 6709 6711 6859 8197 8241 8801 1...,6854 11123 14652 14672 14673 14675 20440 20444...,4551 4723 6709 6859 8197 8241 8801 13163 14446...,4729 6711 14688 19069
4,933000320047312,F805,BSB273B,8,LGA01,cocaine,5,09:16:58,15:42:38,2019-07-11,2019-07-11,144,0,127,17,100 166 166 167 188 213 492 516 628 688 886 98...,NaN,100 166 188 213 492 516 628 688 886 980 1150 1...,166 167 2868 8858 12183 13597 14155 14156 1431...

In [171]:
lga.rfid.value_counts().to_frame().tail(200)

                 rfid
933000320049034    14
933000320048778    14
933000320188172    14
933000320500085    14
933000320188162    14
...               ...
933000320188744     1
933000320045668     1
933000320188253     1
933000120138594     1
933000320046834     1

[200 rows x 1 columns]

In [161]:
lga['active_timestamps'] = lga['active_timestamps'].apply(deserialize_data)
lga['inactive_timestamps'] = lga['inactive_timestamps'].apply(deserialize_data)
lga['reward_timestamps'] = lga['reward_timestamps'].apply(deserialize_data)
lga['timeout_timestamps'] = lga['timeout_timestamps'].apply(deserialize_data)

In [162]:
rows = unstack_data(lga)

In [185]:
df = pd.concat(rows, ignore_index=True)
df

,rfid,active_lever_presses,active_timestamps,box,cohort,drug,end_date,end_time,inactive_lever_presses,inactive_timestamps,...,inactive_lever_presses,inactive_timestamps,reward_presses,reward_timestamps,room,start_date,start_time,subject,timeout_presses,timeout_timestamps
trial_id,,LGA01,LGA01,LGA01,LGA01,LGA01,LGA01,LGA01,LGA01,LGA01,...,LGA28,LGA28,LGA28,LGA28,LGA28,LGA28,LGA28,LGA28,LGA28,LGA28
0,933000320047477,113,"[2309.0, 2316.0, 2317.0, 2349.0, 2410.0, 2446....",1,8,cocaine,2019-07-11,15:42:38,2,"[2342.0, 2343.0]",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,933000320047103,101,"[307.0, 315.0, 422.0, 423.0, 2693.0, 2694.0, 2...",2,8,cocaine,2019-07-11,15:42:38,8,"[471.0, 519.0, 519.0, 523.0, 804.0, 808.0, 471...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,933000320047470,5,"[2788.0, 3120.0, 4917.0, 7356.0, 16818.0]",3,8,cocaine,2019-07-11,15:42:38,11,"[2805.0, 2922.0, 3182.0, 3183.0, 3277.0, 3365....",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,933000320047475,20,"[4551.0, 4723.0, 4729.0, 6709.0, 6711.0, 6859....",4,8,cocaine,2019-07-11,15:42:38,9,"[6854.0, 11123.0, 14652.0, 14672.0, 14673.0, 1...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,933000320047312,144,"[100.0, 166.0, 166.0, 167.0, 188.0, 213.0, 492...",5,8,cocaine,2019-07-11,15:42:38,0,[],...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1824,933000320624825,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1825,933000320625136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1826,933000320624823,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1827,933000320624771,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1828,933000320625146,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [192]:
df[df.rfid == 933000320624823].values

array([[933000320624823, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, 40,
        list([3396.0, 3456.0, 3465.0, 5482.0, 6099.0, 6358.0, 6362.0, 6776.0, 9959.0, 10675.0, 13173.0, 14349.0, 18617.0, 18621.0, 18624.0, 18674.0, 23784.0, 24067.0, 24150.0, 24222.0, 24224.0, 25429.0, 25434.0, 25929.0, 26320.0, 28869.0, 29621.0, 36190.0, 36190.0, 39161.0, 39389.0, 39771.0, 39773.0, 40395.0, 40994.0, 41780.0, 42137.0, 42199.0, 43162.0, 43162.0]),
        9, 18, 'oxycodone', '2022-10-19', '03:44:03', 8,
        list([3408.0, 5428.0, 6080.0, 15030.0, 18680.0, 23826.0, 24109.0, 29729.0]),
        31,
        list([3396.0, 3456.0, 5482.0, 6099.0, 6358.0, 6776.0, 9959.0, 10675.0, 13173.0, 14349.0, 18617.0, 18674.0, 23784.0, 24067.0, 24150.0, 24222.0, 25429.0, 25929.0, 26320.0, 28869.0, 29621.0, 36190.0, 39161.0, 39389.0, 39771.0, 40395.0, 40994.0, 41780.0, 42137.0, 42199.0, 43162.0]),
        'MTF134D', '2022-10-18', '15:23:00', 'M1861', 9,
        list([3465.0, 6362.0, 18621.0, 18624.0, 24224.0, 25434.0, 36190.0, 39773.0, 43162.0]),
        52,
        list([336.0, 3158.0, 4438.0, 4440.0, 5170.0, 6256.0, 6256.0, 6258.0, 7539.0, 7541.0, 8238.0, 9335.0, 10090.0, 11045.0, 11874.0, 12681.0, 13895.0, 14177.0, 15415.0, 15967.0, 16689.0, 17116.0, 19172.0, 19936.0, 20610.0, 21791.0, 22807.0, 22809.0, 23010.0, 24451.0, 24498.0, 24518.0, 24520.0, 24525.0, 25801.0, 26628.0, 26681.0, 26715.0, 27415.0, 28431.0, 28442.0, 29153.0, 30233.0, 30814.0, 32937.0, 35487.0, 35488.0, 36088.0, 41647.0, 42112.0, 42743.0, 42744.0]),
        9, 18, 'oxycodone', '2022-10-20', '03:49:02', 7,
        list([7454.0, 10541.0, 15989.0, 23009.0, 25786.0, 26469.0, 30811.0]),
        42,
        list([336.0, 3158.0, 4438.0, 5170.0, 6256.0, 7539.0, 8238.0, 9335.0, 10090.0, 11045.0, 11874.0, 12681.0, 13895.0, 14177.0, 15415.0, 15967.0, 16689.0, 17116.0, 19172.0, 19936.0, 20610.0, 21791.0, 22807.0, 23010.0, 24451.0, 24498.0, 24518.0, 25801.0, 26628.0, 26681.0, 26715.0, 27415.0, 28431.0, 29153.0, 30233.0, 30814.0, 32937.0, 35487.0, 36088.0, 41647.0, 42112.0, 42743.0]),
        'MTF134D', '2022-10-19', '15:45:29', 'M1861', 10,
        list([4440.0, 6256.0, 6258.0, 7541.0, 22809.0, 24520.0, 24525.0, 28442.0, 35488.0, 42744.0]),
        49,
        list([1189.0, 6263.0, 7115.0, 7117.0, 7606.0, 8876.0, 8902.0, 8903.0, 8919.0, 9554.0, 10754.0, 10755.0, 11874.0, 11911.0, 13217.0, 14887.0, 14931.0, 16840.0, 18530.0, 18546.0, 18569.0, 18573.0, 18573.0, 19569.0, 20394.0, 21581.0, 21585.0, 21588.0, 21591.0, 22362.0, 22377.0, 22378.0, 22379.0, 22380.0, 23174.0, 24174.0, 24725.0, 24748.0, 25871.0, 26559.0, 27569.0, 28363.0, 29605.0, 39432.0, 40637.0, 41252.0, 41919.0, 41956.0, 43152.0]),
        9, 18, 'oxycodone', '2022-10-21', '03:42:05', 3,
        list([22372.0, 26394.0, 27839.0]), 35,
        list([1189.0, 6263.0, 7115.0, 7606.0, 8876.0, 8902.0, 9554.0, 10754.0, 11874.0, 11911.0, 13217.0, 14887.0, 14931.0, 16840.0, 18530.0, 18569.0, 19569.0, 20394.0, 21581.0, 22362.0, 23174.0, 24174.0, 24725.0, 24748.0, 25871.0, 26559.0, 27569.0, 28363.0, 29605.0, 39432.0, 40637.0, 41252.0, 41919.0, 41956.0, 43152.0]),
        'MTF134D', '2022-10-20', '15:41:38', 'M1861', 14,
        list([7117.0, 8903.0, 8919.0, 10755.0, 18546.0, 18573.0, 18573.0, 21585.0, 21588.0, 21591.0, 22377.0, 22378.0, 22379.0, 22380.0]),
        46,
        list([1831.0, 3427.0, 4474.0, 5194.0, 6371.0, 6371.0, 7614.0, 8727.0, 9991.0, 10953.0, 12655.0, 13441.0, 13441.0, 14621.0, 15233.0, 15782.0, 15807.0, 17352.0, 17352.0, 18419.0, 18441.0, 19389.0, 20539.0, 21188.0, 22440.0, 23047.0, 24025.0, 24883.0, 26306.0, 26964.0, 27854.0, 28881.0, 28897.0, 29722.0, 31264.0, 31802.0, 32795.0, 33647.0, 34172.0, 34172.0, 35410.0, 36083.0, 37105.0, 37722.0, 38393.0, 39324.0]),
        9, 18, 'oxycodone', '2022-10-22', '04:07:08', 5,
        list([5145.0, 8735.0, 15239.0, 15778.0, 28902.0]), 41,
        list([1831.0, 3427.0, 4474.0, 5194.0, 6371.0, 7614.0, 8727.0, 9991.0, 10953.0, 12655.0, 13441.0, 14621.0, 15233.0, 15782.0, 15807.0, 17352.0, 18419.0, 18441.0, 19389.0, 20539.0, 21188.0, 22440.0, 23047.0, 24025.0, 24883.0, 26306.0, 26964.0, 27854.0, 28881.0, 29722.0, 31264.0, 31802.0, 32795.0, 33647.0, 34172.0, 35410.0, 36083.0, 37105.0, 37722.0, 38393.0, 39324.0]),
        'MTF134D', '2022-10-21', '15:48:33', 'M1861', 5,
        list([6371.0, 13441.0, 17352.0, 28897.0, 34172.0]), 55,
        list([105.0, 108.0, 140.0, 142.0, 536.0, 566.0, 1909.0, 2310.0, 2310.0, 3210.0, 3232.0, 3976.0, 5257.0, 5278.0, 6465.0, 6772.0, 9104.0, 9139.0, 10222.0, 11595.0, 12263.0, 12276.0, 13050.0, 13987.0, 14907.0, 15843.0, 17101.0, 18144.0, 18737.0, 20289.0, 21157.0, 21900.0, 23449.0, 24233.0, 25109.0, 25803.0, 26716.0, 27779.0, 28889.0, 29789.0, 30742.0, 30742.0, 30784.0, 31850.0, 32750.0, 33704.0, 34363.0, 39123.0, 39153.0, 39153.0, 39259.0, 40535.0, 41226.0, 41708.0, 42743.0]),
        9, 18, 'oxycodone', '2022-10-25', '03:45:20', 5,
        list([540.0, 695.0, 700.0, 1903.0, 14909.0]), 49,
        list([105.0, 140.0, 536.0, 566.0, 1909.0, 2310.0, 3210.0, 3232.0, 3976.0, 5257.0, 5278.0, 6465.0, 6772.0, 9104.0, 9139.0, 10222.0, 11595.0, 12263.0, 13050.0, 13987.0, 14907.0, 15843.0, 17101.0, 18144.0, 18737.0, 20289.0, 21157.0, 21900.0, 23449.0, 24233.0, 25109.0, 25803.0, 26716.0, 27779.0, 28889.0, 29789.0, 30742.0, 30784.0, 31850.0, 32750.0, 33704.0, 34363.0, 39123.0, 39153.0, 39259.0, 40535.0, 41226.0, 41708.0, 42743.0]),
        'MTF134D', '2022-10-24', '15:38:44', 'M1861', 6,
        list([108.0, 142.0, 2310.0, 12276.0, 30742.0, 39153.0]), 100,
        list([33.0, 557.0, 1664.0, 1726.0, 2792.0, 3122.0, 4313.0, 5379.0, 11165.0, 11939.0, 11969.0, 12856.0, 13419.0, 14709.0, 16076.0, 16116.0, 16153.0, 16686.0, 16749.0, 16883.0, 16943.0, 18528.0, 18688.0, 18794.0, 18916.0, 18971.0, 20837.0, 20977.0, 20977.0, 22406.0, 22598.0, 22707.0, 23975.0, 24526.0, 24553.0, 24816.0, 24857.0, 25815.0, 26079.0, 26254.0, 26543.0, 27776.0, 27954.0, 28104.0, 28379.0, 28387.0, 28393.0, 28558.0, 29527.0, 29707.0, 30424.0, 30649.0, 31839.0, 32016.0, 32175.0, 32177.0, 32204.0, 32233.0, 32237.0, 32530.0, 32530.0, 32535.0, 32536.0, 32536.0, 32644.0, 34792.0, 36404.0, 36404.0, 36770.0, 36897.0, 37342.0, 37774.0, 37774.0, 38310.0, 38472.0, 38694.0, 39058.0, 39408.0, 39408.0, 39539.0, 39701.0, 39942.0, 40019.0, 40494.0, 40495.0, 40897.0, 40967.0, 41140.0, 41199.0, 41340.0, 41546.0, 41675.0, 41791.0, 41792.0, 41877.0, 41929.0, 42005.0, 42099.0, 42271.0, 43103.0]),
        9, 18, 'oxycodone', '2022-10-26', '03:49:09', 2,
        list([24006.0, 30419.0]), 86,
        list([33.0, 557.0, 1664.0, 1726.0, 2792.0, 3122.0, 4313.0, 5379.0, 11165.0, 11939.0, 11969.0, 12856.0, 13419.0, 14709.0, 16076.0, 16116.0, 16153.0, 16686.0, 16749.0, 16883.0, 16943.0, 18528.0, 18688.0, 18794.0, 18916.0, 18971.0, 20837.0, 20977.0, 22406.0, 22598.0, 22707.0, 23975.0, 24526.0, 24553.0, 24816.0, 24857.0, 25815.0, 26079.0, 26254.0, 26543.0, 27776.0, 27954.0, 28104.0, 28379.0, 28558.0, 29527.0, 29707.0, 30424.0, 30649.0, 31839.0, 32016.0, 32175.0, 32204.0, 32233.0, 32530.0, 32644.0, 34792.0, 36404.0, 36770.0, 36897.0, 37342.0, 37774.0, 38310.0, 38472.0, 38694.0, 39058.0, 39408.0, 39539.0, 39701.0, 39942.0, 40019.0, 40494.0, 40897.0, 40967.0, 41140.0, 41199.0, 41340.0, 41546.0, 41675.0, 41791.0, 41877.0, 41929.0, 42005.0, 42099.0, 42271.0, 43103.0]),
        'MTF134D', '2022-10-25', '15:48:23', 'M1861', 14,
        list([20977.0, 28387.0, 28393.0, 32177.0, 32237.0, 32530.0, 32535.0, 32536.0, 32536.0, 36404.0, 37774.0, 39408.0, 40495.0, 41792.0]),
        54,
        list([1198.0, 1860.0, 1889.0, 4958.0, 11593.0, 12443.0, 12970.0, 13347.0, 13382.0, 13417.0, 13451.0, 14403.0, 16809.0, 16943.0, 17859.0, 18062.0, 19390.0, 19618.0, 21310.0, 21403.0, 22652.0, 22685.0, 23830.0, 24817.0, 25705.0, 26465.0, 26992.0, 27098.0, 27099.0, 28359.0, 28447.0, 28482.0, 30377.0, 30776.0, 31861.0, 32703.0, 32703.0, 32729.0, 32766.0, 34182.0, 34215.0, 35810.0, 36833.0, 36886.0, 37610.0, 37610.0, 38337.0, 38362.0, 39930.0, 40008.0, 41462.0, 41463.0, 42214.0, 42974.0]),
        9, 18, 'oxycodone', '2022-10-27', '03:59:26', 4,
        list([12464.0, 13386.0, 18772.0, 31753.0]), 50,
        list([1198.0, 1860.0, 1889.0, 4958.0, 11593.0, 12443.0, 12970.0, 13347.0, 13382.0, 13417.0, 13451.0, 14403.0, 16809.0, 16943.0, 17859.0, 18062.0, 19390.0, 19618.0, 21310.0, 21403.0, 22652.0, 22685.0, 23830.0, 24817.0, 25705.0, 26465.0, 26992.0, 27098.0, 28359.0, 28447.0, 28482.0, 30377.0, 30776.0, 31861.0, 32703.0, 32729.0, 32766.0, 34182.0, 34215.0, 35810.0, 36833.0, 36886.0, 37610.0, 38337.0, 38362.0, 39930.0, 40008.0, 41462.0, 42214.0, 42974.0]),
        'MTF134D', '2022-10-26', '15:59:04', 'M1861', 4,
        list([27099.0, 32703.0, 37610.0, 41463.0]), 51,
        list([465.0, 523.0, 1326.0, 1404.0, 1751.0, 2943.0, 2996.0, 3981.0, 4543.0, 5842.0, 7019.0, 7899.0, 17444.0, 18301.0, 18314.0, 18314.0, 18908.0, 19627.0, 20225.0, 20960.0, 20960.0, 21618.0, 22463.0, 23072.0, 23898.0, 24070.0, 25213.0, 25249.0, 29786.0, 29854.0, 30754.0, 31034.0, 31670.0, 31672.0, 32427.0, 33639.0, 34431.0, 35512.0, 35552.0, 36487.0, 36996.0, 37722.0, 37723.0, 38846.0, 39318.0, 40436.0, 41279.0, 41279.0, 41883.0, 42579.0, 42579.0]),
        9, 18, 'oxycodone', '2022-10-28', '03:44:13', 1, list([21621.0]),
        44,
        list([465.0, 523.0, 1326.0, 1404.0, 1751.0, 2943.0, 2996.0, 3981.0, 4543.0, 5842.0, 7019.0, 7899.0, 17444.0, 18301.0, 18908.0, 19627.0, 20225.0, 20960.0, 21618.0, 22463.0, 23072.0, 23898.0, 24070.0, 25213.0, 25249.0, 29786.0, 29854.0, 30754.0, 31034.0, 31670.0, 32427.0, 33639.0, 34431.0, 35512.0, 35552.0, 36487.0, 36996.0, 37722.0, 38846.0, 39318.0, 40436.0, 41279.0, 41883.0, 42579.0]),
        'MTF134D', '2022-10-27', '15:42:54', 'M1861', 7,
        list([18314.0, 18314.0, 20960.0, 31672.0, 37723.0, 41279.0, 42579.0]),
        60,
        list([101.0, 127.0, 3042.0, 4323.0, 4813.0, 5495.0, 6611.0, 6667.0, 7692.0, 8124.0, 9166.0, 9167.0, 10412.0, 10440.0, 14975.0, 14986.0, 15003.0, 15027.0, 16098.0, 17026.0, 17026.0, 17940.0, 19316.0, 20125.0, 20933.0, 20972.0, 21857.0, 22349.0, 23259.0, 24392.0, 24463.0, 25382.0, 25706.0, 26641.0, 26642.0, 27475.0, 27498.0, 28714.0, 29113.0, 30114.0, 30908.0, 31695.0, 32468.0, 33486.0, 34421.0, 34843.0, 34844.0, 35853.0, 36549.0, 37806.0, 37885.0, 37921.0, 37947.0, 37990.0, 38057.0, 38380.0, 38793.0, 39000.0, 39062.0, 39157.0]),
        9, 18, 'oxycodone', '2022-10-29', '03:30:58', 3,
        list([7723.0, 21853.0, 21954.0]), 55,
        list([101.0, 127.0, 3042.0, 4323.0, 4813.0, 5495.0, 6611.0, 6667.0, 7692.0, 8124.0, 9166.0, 10412.0, 10440.0, 14975.0, 15003.0, 15027.0, 16098.0, 17026.0, 17940.0, 19316.0, 20125.0, 20933.0, 20972.0, 21857.0, 22349.0, 23259.0, 24392.0, 24463.0, 25382.0, 25706.0, 26641.0, 27475.0, 27498.0, 28714.0, 29113.0, 30114.0, 30908.0, 31695.0, 32468.0, 33486.0, 34421.0, 34843.0, 35853.0, 36549.0, 37806.0, 37885.0, 37921.0, 37947.0, 37990.0, 38057.0, 38380.0, 38793.0, 39000.0, 39062.0, 39157.0]),
        'MTF134D', '2022-10-28', '15:28:47', 'M1861', 5,
        list([9167.0, 14986.0, 17026.0, 26642.0, 34844.0]), 313,
        list([238.0, 356.0, 2296.0, 3928.0, 3957.0, 4020.0, 8371.0, 8371.0, 8375.0, 9346.0, 10516.0, 11841.0, 13400.0, 13462.0, 14337.0, 15284.0, 16076.0, 16358.0, 16854.0, 20809.0, 20821.0, 21344.0, 21819.0, 25092.0, 25099.0, 25353.0, 25957.0, 25990.0, 26613.0, 27373.0, 29343.0, 29365.0, 29368.0, 30863.0, 31542.0, 31571.0, 31571.0, 35585.0, 35656.0, 35668.0, 35695.0, 35708.0, 35714.0, 35717.0, 35735.0, 35930.0, 35935.0, 35943.0, 35944.0, 35945.0, 35945.0, 35955.0, 35957.0, 35960.0, 35962.0, 35963.0, 35964.0, 35964.0, 35966.0, 35972.0, 35973.0, 35977.0, 35980.0, 35980.0, 35987.0, 35988.0, 35989.0, 35990.0, 35994.0, 35998.0, 36000.0, 36004.0, 36008.0, 36014.0, 36015.0, 36787.0, 36820.0, 36820.0, 36826.0, 36827.0, 36828.0, 36831.0, 36832.0, 36833.0, 36836.0, 36839.0, 36840.0, 36841.0, 36842.0, 36842.0, 36848.0, 36853.0, 36854.0, 36855.0, 36862.0, 36868.0, 36871.0, 36872.0, 36876.0, 36879.0, 36881.0, 36902.0, 36916.0, 36928.0, 36935.0, 36938.0, 36941.0, 36951.0, 36953.0, 37937.0, 37960.0, 37968.0, 37968.0, 37968.0, 37969.0, 37970.0, 37972.0, 37973.0, 37981.0, 37981.0, 37982.0, 37983.0, 37984.0, 37984.0, 37984.0, 37987.0, 37987.0, 37988.0, 37989.0, 37990.0, 37991.0, 37992.0, 38005.0, 38006.0, 38007.0, 38008.0, 38008.0, 38009.0, 38013.0, 38013.0, 38015.0, 38016.0, 38018.0, 38018.0, 38018.0, 38020.0, 38021.0, 38022.0, 38023.0, 38023.0, 38024.0, 38025.0, 38027.0, 38028.0, 38029.0, 38030.0, 38030.0, 38052.0, 38058.0, 38058.0, 38062.0, 38758.0, 38760.0, 38761.0, 38762.0, 38763.0, 38765.0, 38765.0, 38766.0, 38767.0, 38768.0, 38770.0, 38774.0, 38780.0, 38781.0, 38781.0, 38783.0, 38792.0, 38792.0, 38800.0, 38801.0, 38813.0, 38814.0, 38816.0, 38817.0, 38819.0, 38828.0, 38829.0, 38831.0, 38832.0, 38834.0, 38836.0, 38838.0, 38840.0, 38840.0, 38846.0, 38848.0, 38860.0, 38862.0, 38866.0, 38869.0, 38871.0, 38884.0, 38886.0, 38889.0, 38890.0, 38894.0, 38900.0, 38903.0, 38906.0, 40474.0, 40477.0, 40478.0, 40484.0, 40486.0, 40487.0, 40487.0, 40490.0, 40495.0, 40497.0, 40498.0, 40514.0, 40514.0, 40515.0, 40516.0, 40516.0, 40517.0, 40517.0, 40519.0, 40520.0, 40521.0, 40522.0, 40524.0, 40524.0, 40525.0, 40525.0, 40525.0, 40530.0, 40532.0, 40533.0, 40535.0, 40536.0, 40538.0, 40540.0, 40540.0, 40540.0, 40541.0, 40542.0, 40543.0, 40544.0, 40544.0, 40545.0, 40549.0, 40550.0, 40551.0, 40551.0, 40554.0, 40563.0, 40564.0, 40565.0, 40565.0, 40565.0, 40568.0, 40569.0, 40570.0, 40570.0, 40571.0, 40571.0, 40574.0, 40575.0, 40575.0, 40577.0, 40578.0, 40578.0, 40579.0, 40582.0, 40583.0, 40584.0, 40587.0, 40588.0, 40589.0, 40589.0, 40592.0, 40592.0, 40593.0, 40594.0, 40595.0, 40598.0, 40598.0, 40599.0, 40607.0, 40608.0, 40613.0, 40614.0, 40619.0, 40620.0, 40622.0, 40623.0, 40625.0, 40630.0, 40635.0, 40635.0, 40638.0, 40640.0, 40646.0, 40649.0, 40650.0, 40653.0, 40655.0, 40655.0, 40659.0, 40659.0, 40661.0]),
        9, 18, 'oxycodone', '2022-11-01', '03:52:51', 1, list([244.0]),
        68,
        list([238.0, 356.0, 2296.0, 3928.0, 3957.0, 4020.0, 8371.0, 9346.0, 10516.0, 11841.0, 13400.0, 13462.0, 14337.0, 15284.0, 16076.0, 16358.0, 16854.0, 20809.0, 21344.0, 21819.0, 25092.0, 25353.0, 25957.0, 25990.0, 26613.0, 27373.0, 29343.0, 29365.0, 30863.0, 31542.0, 31571.0, 35585.0, 35656.0, 35695.0, 35717.0, 35930.0, 35955.0, 35977.0, 35998.0, 36787.0, 36820.0, 36840.0, 36862.0, 36902.0, 36928.0, 36951.0, 37937.0, 37960.0, 37981.0, 38005.0, 38027.0, 38052.0, 38758.0, 38780.0, 38801.0, 38828.0, 38848.0, 38869.0, 38890.0, 40474.0, 40495.0, 40515.0, 40535.0, 40563.0, 40584.0, 40607.0, 40630.0, 40653.0]),
        'MTF134D', '2022-10-31', '15:52:01', 'M1861', 245,
        list([8371.0, 8375.0, 20821.0, 25099.0, 29368.0, 31571.0, 35668.0, 35708.0, 35714.0, 35735.0, 35935.0, 35943.0, 35944.0, 35945.0, 35945.0, 35957.0, 35960.0, 35962.0, 35963.0, 35964.0, 35964.0, 35966.0, 35972.0, 35973.0, 35980.0, 35980.0, 35987.0, 35988.0, 35989.0, 35990.0, 35994.0, 36000.0, 36004.0, 36008.0, 36014.0, 36015.0, 36820.0, 36826.0, 36827.0, 36828.0, 36831.0, 36832.0, 36833.0, 36836.0, 36839.0, 36841.0, 36842.0, 36842.0, 36848.0, 36853.0, 36854.0, 36855.0, 36868.0, 36871.0, 36872.0, 36876.0, 36879.0, 36881.0, 36916.0, 36935.0, 36938.0, 36941.0, 36953.0, 37968.0, 37968.0, 37968.0, 37969.0, 37970.0, 37972.0, 37973.0, 37981.0, 37982.0, 37983.0, 37984.0, 37984.0, 37984.0, 37987.0, 37987.0, 37988.0, 37989.0, 37990.0, 37991.0, 37992.0, 38006.0, 38007.0, 38008.0, 38008.0, 38009.0, 38013.0, 38013.0, 38015.0, 38016.0, 38018.0, 38018.0, 38018.0, 38020.0, 38021.0, 38022.0, 38023.0, 38023.0, 38024.0, 38025.0, 38028.0, 38029.0, 38030.0, 38030.0, 38058.0, 38058.0, 38062.0, 38760.0, 38761.0, 38762.0, 38763.0, 38765.0, 38765.0, 38766.0, 38767.0, 38768.0, 38770.0, 38774.0, 38781.0, 38781.0, 38783.0, 38792.0, 38792.0, 38800.0, 38813.0, 38814.0, 38816.0, 38817.0, 38819.0, 38829.0, 38831.0, 38832.0, 38834.0, 38836.0, 38838.0, 38840.0, 38840.0, 38846.0, 38860.0, 38862.0, 38866.0, 38871.0, 38884.0, 38886.0, 38889.0, 38894.0, 38900.0, 38903.0, 38906.0, 40477.0, 40478.0, 40484.0, 40486.0, 40487.0, 40487.0, 40490.0, 40497.0, 40498.0, 40514.0, 40514.0, 40516.0, 40516.0, 40517.0, 40517.0, 40519.0, 40520.0, 40521.0, 40522.0, 40524.0, 40524.0, 40525.0, 40525.0, 40525.0, 40530.0, 40532.0, 40533.0, 40536.0, 40538.0, 40540.0, 40540.0, 40540.0, 40541.0, 40542.0, 40543.0, 40544.0, 40544.0, 40545.0, 40549.0, 40550.0, 40551.0, 40551.0, 40554.0, 40564.0, 40565.0, 40565.0, 40565.0, 40568.0, 40569.0, 40570.0, 40570.0, 40571.0, 40571.0, 40574.0, 40575.0, 40575.0, 40577.0, 40578.0, 40578.0, 40579.0, 40582.0, 40583.0, 40587.0, 40588.0, 40589.0, 40589.0, 40592.0, 40592.0, 40593.0, 40594.0, 40595.0, 40598.0, 40598.0, 40599.0, 40608.0, 40613.0, 40614.0, 40619.0, 40620.0, 40622.0, 40623.0, 40625.0, 40635.0, 40635.0, 40638.0, 40640.0, 40646.0, 40649.0, 40650.0, 40655.0, 40655.0, 40659.0, 40659.0, 40661.0]),
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, 95,
        list([2017.0, 2018.0, 2025.0, 2633.0, 3518.0, 3536.0, 4845.0, 6583.0, 6584.0, 6588.0, 6589.0, 6589.0, 6594.0, 6614.0, 6622.0, 6648.0, 6666.0, 6715.0, 6756.0, 6759.0, 6760.0, 6765.0, 6778.0, 6821.0, 6829.0, 6899.0, 6929.0, 6934.0, 6938.0, 6951.0, 6972.0, 6984.0, 6985.0, 6991.0, 7000.0, 7037.0, 7172.0, 7278.0, 7281.0, 7291.0, 7297.0, 7300.0, 7330.0, 7345.0, 7356.0, 7395.0, 7396.0, 7417.0, 7421.0, 7481.0, 7601.0, 15738.0, 21197.0, 25199.0, 26403.0, 27961.0, 27961.0, 29431.0, 29434.0, 34416.0, 35859.0, 35871.0, 35874.0, 35883.0, 35894.0, 37588.0, 37611.0, 40469.0, 40478.0, 40485.0, 40490.0, 42399.0, 42400.0, 42407.0, 42425.0, 42441.0, 42474.0, 42560.0, 42574.0, 42575.0, 42584.0, 42605.0, 42630.0, 42648.0, 42654.0, 42669.0, 42677.0, 42686.0, 42686.0, 42687.0, 42715.0, 42721.0, 42722.0, 42739.0, 42743.0]),
        9, 18, 'oxycodone', '2022-11-03', '04:36:03', 0, list([]), 50,
        list([2017.0, 2633.0, 3518.0, 4845.0, 6583.0, 6614.0, 6648.0, 6715.0, 6756.0, 6778.0, 6821.0, 6899.0, 6929.0, 6951.0, 6972.0, 7000.0, 7037.0, 7172.0, 7278.0, 7300.0, 7330.0, 7356.0, 7395.0, 7417.0, 7481.0, 7601.0, 15738.0, 21197.0, 25199.0, 26403.0, 27961.0, 29431.0, 34416.0, 35859.0, 35883.0, 37588.0, 37611.0, 40469.0, 40490.0, 42399.0, 42425.0, 42474.0, 42560.0, 42584.0, 42605.0, 42630.0, 42654.0, 42677.0, 42715.0, 42739.0]),
        'MTF134D', '2022-11-02', '16:35:24', 'M1861', 45,
        list([2018.0, 2025.0, 3536.0, 6584.0, 6588.0, 6589.0, 6589.0, 6594.0, 6622.0, 6666.0, 6759.0, 6760.0, 6765.0, 6829.0, 6934.0, 6938.0, 6984.0, 6985.0, 6991.0, 7281.0, 7291.0, 7297.0, 7345.0, 7396.0, 7421.0, 27961.0, 29434.0, 35871.0, 35874.0, 35894.0, 40478.0, 40485.0, 42400.0, 42407.0, 42441.0, 42574.0, 42575.0, 42648.0, 42669.0, 42686.0, 42686.0, 42687.0, 42721.0, 42722.0, 42743.0]),
        13,
        list([11.0, 32.0, 442.0, 450.0, 2659.0, 7456.0, 10030.0, 12679.0, 12708.0, 15674.0, 19638.0, 19655.0, 19660.0]),
        9, 18, 'oxycodone', '2022-11-04', '04:22:07', 0, list([]), 11,
        list([11.0, 32.0, 442.0, 2659.0, 7456.0, 10030.0, 12679.0, 12708.0, 15674.0, 19638.0, 19660.0]),
        'MTF134D', '2022-11-03', '16:09:26', 'M1861', 2,
        list([450.0, 19655.0]), nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,
        nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan, nan,