In [49]:
import numpy as np
import pandas as pd

## Avoiding the problem of making None value into 0

In [62]:
test1 = [0,0,0,0,0,0]
test2 = [1,2,3,4,5,0,0,0]

In [65]:
def count_datapoints(lst):
    while lst and lst[-1] == 0:
        lst.pop()
        
    if len(lst) == 0:
        return None
    else:
        return len(lst)

In [64]:
count_timestamps(test1)

In [14]:
count_timestamps(test2)

5

In [66]:
# return valid list of datapoints
def process_datapoints(lst):
    while lst and lst[-1] == 0:
        lst.pop()
        
    if len(lst) == 0:
        return None
    else:
        return list

In [68]:
process_datapoints([0,0])

## Standardize trial id

In [69]:
test = 'PR1'

In [70]:
i = 0
while not (test[i].isdigit()):
    i += 1

In [73]:
name = test[:i]
num = test[i:]

In [74]:
name, num

('PR', '1')

In [77]:
res = name + num.rjust(2, "0")
res

'PR01'

In [79]:
def process_trial_id(tid):
    i = 0
    while not (tid[i].isdigit()):
        i += 1
    name,num = tid[:i],tid[i:]
    res = name + num.rjust(2, "0")
    return res

## Get breakpoint, last ratio for SA data

In [28]:
coc_rewards = np.arange(19)
coc_lr = [0,1,2,4,6,9,12,15,20,25,32,40,50,62,77,95,118,145,178]
coc_lr_dict = dict(zip(coc_rewards,coc_lr))
coc_lr_dict

{0: 0,
 1: 1,
 2: 2,
 3: 4,
 4: 6,
 5: 9,
 6: 12,
 7: 15,
 8: 20,
 9: 25,
 10: 32,
 11: 40,
 12: 50,
 13: 62,
 14: 77,
 15: 95,
 16: 118,
 17: 145,
 18: 178}

In [58]:
reward_press = 7
breakpoint = coc_lr_dict[reward_press]
breakpoint

15

In [59]:
get_breakpoint(coc_lr_dict, breakpoint)

20

In [80]:
def get_last_ratio(lr_dict, breakpoint):
    if (not lr_dict) or (not breakpoint):
        return None
    lr_list = list(coc_lr_dict.values())
    idx = lr_list.index(breakpoint) + 1
    return lr_list[idx]

In [40]:
list(coc_lr_dict.values())[(list(coc_lr_dict.values()).index(last_ratio) - 1)]

12

## Get breakpoint, last ratio for NEWER data

## Convert RFID to string

In [16]:
str(int(11.0))

'11'

## Convert np.Nan to None

In [25]:
test_nan = [np.nan, np.nan]

In [26]:
for i in range(len(test_nan)):
    if np.isnan(test_nan[i]):
        test_nan[i] = None

In [27]:
test_nan

[None, None]

## Check if np.nan

In [60]:
fp = '/Users/yunyihuang/Desktop/gl_data/GEORGE/COC_PR/C05HSPR03-20180910_transformed.csv'
data = pd.read_csv(fp,index_col=0)
data

,rfid,subject,room,cohort,trial_id,drug,box,start_time,end_time,start_date,end_date,last_ratio,breakpoint,active_lever_presses,inactive_lever_presses,reward_presses,reward_points
0,933000120138410,F518,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,62.0,50,277.0,3.0,12.0,NaN
1,933000120138712,F519,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,32.0,25,116.0,0.0,9.0,NaN
2,933000120138722,F520,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,95.0,77,451.0,29.0,14.0,NaN
3,933000120138711,F521,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,20.0,15,68.0,40.0,7.0,NaN
4,933000120138715,F522,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,77.0,62,316.0,8.0,13.0,NaN
5,933000120138754,F523,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,62.0,50,278.0,13.0,12.0,NaN
6,933000120138743,F524,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,50.0,40,206.0,9.0,11.0,NaN
7,933000120138748,F526,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,145.0,118,724.0,12.0,16.0,NaN
8,933000120138454,F527,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,25.0,20,94.0,0.0,8.0,NaN
9,933000120138707,F528,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,77.0,62,321.0,0.0,13.0,NaN
10,933000120138447,F529,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,145.0,118,776.0,52.0,16.0,NaN
11,933000120138440,F530,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,95.0,77,440.0,44.0,14.0,NaN
12,933000120138504,M551,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,32.0,25,103.0,43.0,9.0,NaN
13,933000120138500,M552,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,NaN,0,0.0,0.0,0.0,NaN
14,933000120138700,M553,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,15.0,12,44.0,0.0,6.0,NaN
15,933000120138689,M554,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,118.0,95,522.0,3.0,15.0,NaN
16,933000120138750,M575,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,20.0,15,58.0,1.0,7.0,NaN
17,933000120138734,M576,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,40.0,32,155.0,4.0,10.0,NaN
18,933000120138744,M577,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,62.0,50,255.0,3.0,12.0,NaN
19,933000120138736,M578,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,62.0,50,256.0,14.0,12.0,NaN
20,933000120138455,M579,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,2.0,1,3.0,0.0,1.0,NaN
21,933000120138437,M580,NaN,5,PR03,cocaine,NaN,00:00:00,00:00:00,2018-09-10,0001-01-01,50.0,40,194.0,74.0,11.0,NaN

In [61]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22 entries, 0 to 21
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   rfid                    22 non-null     int64
 1   subject                 22 non-null     object
 2   room                    0 non-null      float64
 3   cohort                  22 non-null     int64
 4   trial_id                22 non-null     object
 5   drug                    22 non-null     object
 6   box                     0 non-null      float64
 7   start_time              22 non-null     object
 8   end_time                22 non-null     object
 9   start_date              22 non-null     object
 10  end_date                22 non-null     object
 11  last_ratio              21 non-null     float64
 12  breakpoint              22 non-null     int64
 13  active_lever_presses    22 non-null     float64
 14  inactive_lever_presses  22 non-null     float64
 15  reward_presses          22 non-null     float64
 16  reward_points           0 non-null      float64
dtypes: float64(7), int64(3), object(7)
memory usage: 3.1+ KB